<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt">

<#if package?? && package != "">
package ${package};

</#if>

/**
 * Write a description of interface ${name} here.
 * 
 * @author ${user} 
 * @version (a version number or a date)
 */

public interface ${name} {
	/**
	 * An example of a method header - replace this comment with your own
	 * 
	 * @param  y	a sample parameter for a method
	 * @return		the result produced by sampleMethod 
	 */
	int sampleMethod(int y);
}
