<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<p>t) Verify the most commonly uses attributes of this component.</p>
<p>i) Test Steps:</p>
<ol>
  <li>add a button</li>
  <li>add textArea1, set the label value to 'I am a text area label', set the 
    text area required = true.</li>
  <li>add a message list set for textArea1</li>
  <li>add textArea2, set the text value to 'columns = 20', set the columns value 
    = 20.</li>
  <li>add textArea3, set the text value to 'rows = 5, set the rows = 5</li>
  <li>add textArea4, set the text value to 'disabled', set disabled = true</li>
  <li>add a label and set its value to 'visible = false'.</li>
  <li>add textArea5, and set visible = false</li>
  <li>add textArea6, set its text value to a large amount of text</li>
  <li>Add a messageGroup to catch any other errors.</li>
</ol>
<p></p>
</body>
</html>
