##
##
## update.vm
##
## - sourceColumnIdentifiers: List; ColumnIdentifiers representing source columns
## - mappings: Map; Mapping of target ColumnIdentifiers to source ColumnIdentifiers 
## - useUpdateWhere: boolean; true if where clause exists
## - condition: String (optional); where condition
## - aliasColumns: boolean; true to use aliases for source columns
## - distinct: boolean; true to add distinct qualifier
## - exceptionWhen: String (optional); optional exception when clause
##
##
#set( $totalColumns = $sourceColumnIdentifiers.size())
#set( $columnCounter = 1)
#set( $totalMappings = $mappings.size())
#set( $mappingCounter = 1)
#set( $indent = "    " )
UPDATE $targetTable
##
## SET CLAUSE
##
SET 
#foreach($mapping in $mappings)
#if( $mapping.isKeyColumn() == false )
${indent}$mapping.getTarget().getSql() = $mapping.getSource().getSql()#if($mappingCounter < $totalMappings), #end
    
#end
#set( $mappingCounter = $mappingCounter + 1)
#end
FROM $fromContent
##
## OPTIONAL:  where/filter condition(s)
##
#if($useUpdateWhere)
${indent}WHERE 
#if($condition != "")${indent}${indent}$condition#end
#end

#if ($exceptionWhen != "")
${exceptionWhen}
#end