#set( $totalColumns = $groupByIdentifiers.size() )
#set( $columnCounter = 1 )
#set( $indent = "    " )
GROUP BY 
#foreach( $sColumn in $groupByIdentifiers )
${nestedIndent}${indent}$sColumn.getSql()#if($columnCounter < $totalColumns), #end
#set( $columnCounter = $columnCounter + 1)
#end
#if($havingCondition != "")${nestedIndent}${indent}HAVING $havingCondition #end
