##*******************************
## ********** NOT USED **********
##*******************************
#foreach($sColumn in $sourceColumnIdentifiers )
$sColumn.getSql()
#end
NOT IN ( 
SELECT
#foreach($tColumn in $targetColumnIdentifiers )
$tColumn.getSql()
#end FROM $targetTable)
