@charset "US-ASCII";

address,
blockquote, 
body, dd, div, 
dl, dt, 
fieldset, form,
frame, frameset,
h1, h2, h3, h4, 
h5, h6, iframe,  /* XXX iframe shouldn't be here!!! */
noframes, ol, p, 
ul, center, dir, 
hr, menu, pre   { display: block }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group; vertical-align: middle }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }

th              { text-align: center }
center, caption { text-align:  -rave-center; }
body            { padding: 0px; line-height: 1.33 }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .83em 0 }
h3              { font-size: 1.17em; margin: 1em 0 }
blockquote, ul,
fieldset,
ol, dl, dir,
menu, h4        { margin: 1.33em 0 }
h5              { font-size: .83em; margin: 1.67em 0 }
h6              { font-size: .67em; margin: 2.33em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong, th      { font-weight: bold }
blockquote      { margin-left: 40px; margin-right: 40px }
i, dfn, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 40px }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\a" }

/* We don't support these CSS properties yet
abbr, acronym   { font-variant: small-caps; letter-spacing: 0.1em }
:focus          { outline: thin dotted invert }
*/


/* Rave additions: this is originally based on
   swing's javax/swing/text/default.css */

body  {
  font-size: 11pt;
  font-family: Serif;
  font-weight: normal;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: white;
  color: black}

p, form {margin-bottom: 16px}

li p {margin-top: 0px;
    margin-bottom: 0px}

/* DIR and MENU are deprecated
menu li p {margin-top: 0px;
    margin-bottom: 0px}
menu li {margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px}
menu {margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px}
dir li p {margin-top: 0px;
    margin-bottom: 0px}
dir li {margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px}
dir {margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px}
ul li menu {list-style-type: circle;
    margin-left: 25px}
*/

dd {margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px}

dd p {margin-left: 0px;
    margin-rigth: 0px;
    margin-top: 0px;
    margin-bottom: 0px}

dt {margin-top: 0px;
    margin-bottom: 0px}

dl {margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px}

ol li {margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px}

ol {
    margin: 1em 0;
    padding-left: 40px;
    list-style-type: decimal;
}

ol li p {margin-top: 0px;
    margin-bottom:0px}

ul li {margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px}

ul {
    margin: 1em 0;
    padding-left: 40px;
    list-style-type: disc;
}

ul li ul li {margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px}

ul li ul {list-style-type: circle;
    margin-left: 25px}

ul li ul li ul li {margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px}

ul li ul li ul {list-style-type: square;
    margin-left: 25px}

ul li p {margin-top: 0px;
    margin-bottom:0px}

a[href] {color: ravelinkcolor;
   text-decoration: underline}

/** HACK workaround. JSF hyperlinks are <a href="..."><span>foo</span></a>
    which means they don't get underlined
    XXX can I use the link pseudo class?  span:link ?
     */
span { text-decoration: inherit } 

big {font-size: x-large}

small {font-size: x-small}

table { border-color: gray; }
tr { text-align: left }
td, th, tr {
    border-color: gray;
    vertical-align: inherit;
}

blockquote {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 35px;
    margin-right: 35px
}

pre {margin-top: 5px;
     margin-bottom: 5px;}

pre p {margin-top: 0px}

nobr { white-space: nowrap }


/* Misc HTML tweaks */
hr { margin-left: auto; margin-right: auto }

/* Stuff from mozilla 1.6's res/html.css
   License:  NPL - copyright Mozilla. */

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

nobr {
  white-space: nowrap;
}

iframe applet object {
  border: 2px inset;
  overflow: hidden;
}

/* hidden elements */
area, base, basefont, head, meta, script, style, title,
noembed, noscript, param {
   display: none;
}

.rave-uninitialized-text { 
  font-style: italic; 
  font-weight: bold; 
  color: gray 
}

.rave-design-border { 
  border-width: 1px;
  border-style: dashed;
  border-color: #c0c0c0
}

.TreeRow { line-height: 22px }

