

/**CC
@|
@media
@media
*/


/**CC
@|
@charset
@charset
*/

@media page{

    root {

/** #135814
c|
color
color
*/

    
/** #135814
background: |
uri
background: uri
*/

      
/** #135814
color: |
green
color: green
*/

      
    }

}

