

/**CC 
@|
@media
@media
*/



/**CC 
@|
@charset
@charset
*/

@media page{

    root {

/**CC
c|
color
color:
*/

    
/**CC
background: |
url
background: url
*/


/**CC
color: |
green
color: green
*/

      
    }

}

