root { 
    
/**CC
display: |
display block
display: block
*/

/**CC
color: |
color green
color: green
*/

/**CC
border-right: |
border-style-inner inset
border-right: inset
*/

/**CC
border-bottom-color : |
color red
border-bottom-color : red
*/

}

