<%-- the static segment can be included to JSP document using the <jsp:directive.include .../>, e.g.:
    <jsp:directive.include file="/WEB-INF/jspf/segment.jspf" />
--%>

<%-- any content can be cpecified here e.g.: --%>
<jsp:element name="title">
    <jsp:body>Cat In The Rain</jsp:body>
</jsp:element>
