<?xml version="1.0" encoding="UTF-8"?>
<installer-gui-script minSpecVersion="1.0">
    <title>netbeans-mysql-Title</title>
    <welcome file="Welcome.html"></welcome>
    <license file="License.txt"></license>
    <background file="background.tif" scaling="none" alignment="topleft"></background>
    <options allow-external-scripts="no" customize="allow" rootVolumeOnly="false"></options>
    <installation-check script="checkMemsize()"></installation-check>
    <volume-check script="checkSystemversion()"></volume-check>
    <script>
/* js:pkmk:start */
function installationCheckRAM() {
	return  checkMemsize() ;
}
/* js:pkmk:end */


/* js:pkmk:start */
function checkMemsize() {
	var result = false;
	try {
		result = system.sysctl('hw.memsize') >= '536870912';
	} catch (e) {}
	
	if(!result) {
		my.result.type = 'Warn';
		my.result.title = system.localizedStringWithFormat('MEMORY_WARNING_TITLE');
		my.result.message = system.localizedStringWithFormat('MEMORY_WARNING_MSG');
	}
	return result;
}
/* js:pkmk:end */
</script>

<script>
/* js:pkmk:start */
function volumeCheckTiger() {
	return  checkSystemversion() ;
}
/* js:pkmk:end */


/* js:pkmk:start */
function checkSystemversion() {
	var result = false;
	var version;	
	try {
		version = my.target.systemVersion.ProductVersion;
		if(version == 'undefined') {
			result = ( -1 != system.compareVersions(system.version.ProductVersion, '10.4'));
		} else {
			result = ( -1 != system.compareVersions(version, '10.4'));
		}
	
	} catch (e) {}
	
	if(!result) {
		my.result.type = 'Fatal';
		my.result.title = system.localizedStringWithFormat('ERR_INVALID_VERSION_TITLE');
		my.result.message = system.localizedStringWithFormat('ERR_INVALID_VERSION_MSG');
	} else {
		try {
			result = system.files.fileExistsAtPath('/System/Library/Frameworks/JavaVM.framework/Versions/1.5') == true;
		} catch (e) {}

		if(!result) {
		    try {
                        result = system.files.fileExistsAtPath('/System/Library/Frameworks/JavaVM.framework/Versions/1.5.0') == true;
		    } catch (e) {}
		}
		if(!result) {
		    try {
                        result = system.files.fileExistsAtPath('/System/Library/Frameworks/JavaVM.framework/Versions/1.6') == true;
		    } catch (e) {}
		}
		if(!result) {
		    try {
                        result = system.files.fileExistsAtPath('/System/Library/Frameworks/JavaVM.framework/Versions/1.6.0') == true;
		    } catch (e) {}
		}
		

		if(!result) {
			my.result.type = 'Fatal';
			my.result.title = system.localizedStringWithFormat('ERR_NO_JAVA_TITLE');
			my.result.message = system.localizedStringWithFormat('ERR_NO_JAVA_MSG');
		}
        }

	return result;
}
/* js:pkmk:end */
</script>

<script>
/* js:pkmk:start */
function choiceIsADowngrade() {
	return  checkChoiceUpgradeAction() ;
}
/* js:pkmk:end */


/* js:pkmk:start */
function checkChoiceUpgradeAction() {
	var result = false;
	try {
		result = my.choice.packageUpgradeAction == 'downgrade' || my.choice.packageUpgradeAction == 'mixed';
	} catch (e) {}
	
	return result;
}
/* js:pkmk:end */
</script>

    <choices-outline>
        <line choice="netbeans">
            <line choice="baseide"></line>
            <line choice="javase"></line>
            <line choice="javaee"></line>
            <line choice="ruby"></line>
        </line>
        <line choice="glassfish"></line>
        <line choice="mysql"></line>
        <line choice="mysqlstartup"></line>
    </choices-outline>
    <choice id="glassfish" title="glassfish-title" description="glassfish-description" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="ident.pkg.glassfish"></pkg-ref>
    </choice>
    <choice id="netbeans" title="netbeans-title" description="netbeans-description" start_selected="true" start_enabled="true" start_visible="true"></choice>
    <choice id="baseide" title="baseide-title" description="baseide-description" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="org.netbeans.ide"></pkg-ref>
    </choice>
    <choice id="javase" title="javase-title" description="javase-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.javase.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.javase"></pkg-ref>
    </choice>
    <choice id="javaee" title="javaee-title" description="javaee-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.javaee.selected &amp;&amp; choices.javase.selected" enabled="choices.javase.selected">
        <pkg-ref id="ident.pkg.javaee"></pkg-ref>
    </choice>
    <choice id="ruby" title="ruby-title" description="ruby-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.ruby.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.ruby"></pkg-ref>
    </choice>
    <choice id="mysql" title="mysql-title" description="mysql-description" start_selected="true" start_enabled="true" start_visible="true" selected="true" enabled="true">
        <pkg-ref id="com.mysql.mysql"></pkg-ref>
    </choice>
    <choice id="mysqlstartup" title="mysqlstartup-title" description="mysqlstartup-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.mysqlstartup.selected &amp;&amp; choices.mysql.selected" enabled="choices.mysql.selected">
        <pkg-ref id="com.mysql.mysqlstartup"></pkg-ref>
    </choice>
    <pkg-ref id="ident.pkg.glassfish" version="0.0.0.0.0" installKBytes="@SIZE_GLASSFISH@" auth="Root" onConclusion="None">file:./Contents/Packages/glassfish.pkg</pkg-ref>
    <pkg-ref id="org.netbeans.ide" version="0.0.0.0.1" installKBytes="@SIZE_BASEIDE@" auth="Root" onConclusion="None">file:./Contents/Packages/baseide.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.javase" version="0.0.0.0.1" installKBytes="@SIZE_JAVASE@" auth="Root" onConclusion="None">file:./Contents/Packages/javase.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.javaee" version="0.0.0.0.1" installKBytes="@SIZE_JAVAEE@" auth="Root" onConclusion="None">file:./Contents/Packages/javaee.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.ruby" version="0.0.0.0.1" installKBytes="@SIZE_RUBY@" auth="Root" onConclusion="None">file:./Contents/Packages/ruby.pkg</pkg-ref>
    <pkg-ref id="com.mysql.mysql" version="5.0.67.0.0" installKBytes="@SIZE_MYSQL@" auth="Root" onConclusion="None">file:./Contents/Packages/mysql.pkg</pkg-ref>
    <pkg-ref id="com.mysql.mysqlstartup" version="1.0.0.1.0" installKBytes="@SIZE_MYSQLSTARTUP@" auth="Root" onConclusion="None">file:./Contents/Packages/mysqlstartup.pkg</pkg-ref>
    
</installer-gui-script>