<?xml version="1.0" encoding="UTF-8"?>
<installer-gui-script minSpecVersion="1.0">
    <title>netbeans-Title</title>
    <welcome file="Welcome.html"></welcome>
    <license file="License.txt"></license>
    <background file="background.tif" scaling="none" alignment="topleft"></background>
    <options allow-external-scripts="yes" customize="never" rootVolumeOnly="false" hostArchitectures="i386"></options>
    <installation-check script="checkSystem()"></installation-check>
    <volume-check script="checkSystemversion()"></volume-check>
    <script>
/* js:pkmk:start */
function checkSystem() {
	var java_result = checkJavaVersion();
        
        if (!java_result) {
            return java_result;
        }
        
        var mem_result = checkMemsize();
        
        return mem_result;
}
/* js:pkmk:end */

/* js:pkmk:start */
function checkMemsize() {
	var result = false;
	try {
		result = system.sysctl('hw.memsize') >= '536870912';
	} catch (e) {}
	
	if(!result) {
		my.result.type = 'Warn';
		my.result.title = system.localizedStringWithFormat('MEMORY_WARNING_TITLE');
		my.result.message = system.localizedStringWithFormat('MEMORY_WARNING_MSG');
	}
	return result;
}
/* js:pkmk:end */

/* js:pkmk:start */
function checkJavaVersion() {
    var result = false;
    var java7u10_or_newer = false;
    var javaFound = false;
    try {
        if(system.files.fileExistsAtPath('/usr/libexec/java_home')) {
           var res = system.run("/usr/libexec/java_home", "--version", "1.7.0_10+", "--failfast");                       
           java7u10_or_newer = (0 == res);
           if(!java7u10_or_newer) {
               var res = system.run("/usr/libexec/java_home", "--version", "1.5", "--failfast");                       
               javaFound = (0 == res);
           }
        }
    } catch (e) {}

    if(java7u10_or_newer) {
        result = true;
    } else {
        if (javaFound) {
            my.result.type = 'Fatal';
            my.result.title = system.localizedStringWithFormat('ERR_OLDER_JAVA7_TITLE');
            my.result.message = system.localizedStringWithFormat('ERR_OLDER_JAVA7_TITLE');
        } else {
            my.result.type = 'Fatal';
            my.result.title = system.localizedStringWithFormat('ERR_NO_JAVA_TITLE');
            my.result.message = system.localizedStringWithFormat('ERR_NO_JAVA_MSG');
        }
    }

    return result;
}
/* js:pkmk:end */
</script>

<script>
/* js:pkmk:start */
function checkSystemversion() {
    var result = false;
    var version;	
    try {
            version = my.target.systemVersion.ProductVersion;
            if(version == 'undefined') {
                    result = ( -1 != system.compareVersions(system.version.ProductVersion, '10.5'));
            } else {
                    result = ( -1 != system.compareVersions(version, '10.5'));
            }

    } catch (e) {}

    if(!result) {
            my.result.type = 'Fatal';
            my.result.title = system.localizedStringWithFormat('ERR_INVALID_VERSION_TITLE');
            my.result.message = system.localizedStringWithFormat('ERR_INVALID_VERSION_MSG');
    }

    return result;
}
/* js:pkmk:end */
</script>

    <choices-outline>
        <line choice="netbeans">
            <line choice="baseide"></line>          
            <line choice="webcommon"/>
            <line choice="websvccommon"/>
            <line choice="php"></line>           
        </line>            
    </choices-outline>
    <choice id="netbeans" title="netbeans-title" description="netbeans-description" start_selected="true" start_enabled="true" start_visible="true"></choice>
    <choice id="baseide" title="baseide-title" description="baseide-description" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="ident.pkg.baseide"></pkg-ref>
    </choice>      
    <choice id="webcommon" title="webcommon-title" description="webcommon-description" start_selected="true" start_enabled="true" start_visible="true" selected="choices.webcommmon.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.webcommon"/>
    </choice>
    <choice id="websvccommon" title="websvccommon-title" description="websvccommon-description" start_selected="true" start_enabled="true" start_visible="false" selected="choices.websvccommmon.selected &amp;&amp; choices.baseide.selected" enabled="choices.baseide.selected">
        <pkg-ref id="ident.pkg.websvccommon"/>
    </choice>
    <choice id="php" title="php-title" description="php-description" start_selected="true" start_enabled="true" start_visible="true">
        <pkg-ref id="ident.pkg.php"></pkg-ref>
    </choice>
    <pkg-ref id="ident.pkg.baseide" version="0.0.0.0.1" installKBytes="@SIZE_BASEIDE@" auth="Root" onConclusion="None">file:./Contents/Packages/baseide-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.webcommon" version="0.0.0.0.1" installKBytes="@SIZE_WEBCOMMON@" auth="Root" onConclusion="None">file:./Contents/Packages/webcommon-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.websvccommon" version="0.0.0.0.1" installKBytes="@SIZE_WEBSVCCOMMON@" auth="Root" onConclusion="None">file:./Contents/Packages/websvccommon-@NB_ID@.pkg</pkg-ref>
    <pkg-ref id="ident.pkg.php" version="0.0.0.0.1" installKBytes="@SIZE_PHP@" auth="Root" onConclusion="None">file:./Contents/Packages/php-@NB_ID@.pkg</pkg-ref>
</installer-gui-script>