/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 *
 * The contents of this file are subject to the terms of either the GNU
 * General Public License Version 2 only ("GPL") or the Common
 * Development and Distribution License("CDDL") (collectively, the
 * "License"). You may not use this file except in compliance with the
 * License. You can obtain a copy of the License at
 * http://www.netbeans.org/cddl-gplv2.html
 * or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 * specific language governing permissions and limitations under the
 * License.  When distributing the software, include this License Header
 * Notice in each file and include the License file at
 * nbbuild/licenses/CDDL-GPL-2-CP.  Sun designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Sun in the GPL Version 2 section of the License file that
 * accompanied this code. If applicable, add the following below the
 * License Header, with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 *
 * Contributor(s):
 *
 * The Original Software is NetBeans. The Initial Developer of the Original
 * Software is Sun Microsystems, Inc. Portions Copyright 1997-2006 Sun
 * Microsystems, Inc. All Rights Reserved.
 *
 * If you wish your version of this file to be governed by only the CDDL
 * or only the GPL Version 2, indicate your decision by adding
 * "[Contributor] elects to include this software in this distribution
 * under the [CDDL or GPL Version 2] license." If you do not indicate a
 * single choice of license, a recipient has the option to distribute
 * your version of this file under either the CDDL, the GPL Version 2 or
 * to extend the choice of license to its licensees as provided above.
 * However, if you add GPL Version 2 code and therefore, elected the GPL
 * Version 2 license, then the option applies only if the new code is
 * made subject to such option by the copyright holder.
 */

{
	/**
	* Root section.
	* This section describes subnode "Databases" in "Runtime". It is a root for
	* database explorer, handles open connections and a list of drives. Serves list
	* of supported database products (suppdbsystems). Allows to add a new connection.
	*/
	root = {
		name = Databases;
		class = org.netbeans.modules.db.explorer.nodes.RootNode;
		infoclass = org.netbeans.modules.db.explorer.infos.RootNodeInfo;
		children_ordering = {
			org.openide.loaders.DataFolder$FolderNode = 0;
                        org.netbeans.modules.db.mysql.nodes.ServerNode = 1;
                        org.netbeans.modules.derby.DerbyServerNode = 2;
			org.netbeans.modules.db.explorer.nodes.DriverListNode = 3;
			org.netbeans.modules.db.explorer.nodes.ConnectionNode = 4;
		};
		iconbase = "org/netbeans/modules/db/resources/database";
		children = (driverlist);
		properties = ();
		options = {};
		actions = (
			{
				name = "AddConnection";
				class = org.netbeans.modules.db.explorer.actions.AddConnectionAction;
			},
                        delimiter,
			{
				name = "EnableDebug";
				class = org.netbeans.modules.db.explorer.actions.EnableDebugAction;
			},
			{
				name = "DisableDebug";
				class = org.netbeans.modules.db.explorer.actions.DisableDebugAction;
			}
		);
	};

	/**
	* Driver list section.
	* This section describes subnode "Drivers" in "Database". It is a root for driver
	* list (a list of all available and registered drivers). Allows add a new driver.
	* Serves no properties (name isn't modifable).
	*/
	driverlist = {
		name = Drivers;
		class = org.netbeans.modules.db.explorer.nodes.DriverListNode;
		infoclass = org.netbeans.modules.db.explorer.infos.DriverListNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/defaultFolder";
		children = ();
		properties = ();
		options = {};
		actions = (
			{
				name = "AddNewDriver";
				class = org.netbeans.modules.db.explorer.actions.AddDriverAction;
			},
			delimiter
		);
	};

	/**
	* Driver section.
	* This section describes dynamic subnodes in "Drivers" node. Entire drivers serves name
	* and URL properties, allows to delete selected node and connect using selected driver.
	*/
	driver = {
		name = Driver;
		class = org.netbeans.modules.db.explorer.nodes.DriverNode;
		infoclass = org.netbeans.modules.db.explorer.infos.DriverNodeInfo;
		creator = driverlist;
		iconbase = "org/netbeans/modules/db/resources/driver";
		iconbaseprefered = "org/netbeans/modules/db/resources/driverPrefered";
		iconbasenotinstalled = "org/netbeans/modules/db/resources/driverNotInstalled";
		iconbasepreferednotinstalled = "org/netbeans/modules/db/resources/driverPreferedNotInstalled";
		children = ();
		options = {
			cut = NO;
			copy = NO;
			delete = YES;
		};
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = url;
				name = "DriverURL";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = prefix;
				name = "DriverFiles";
				class = java.lang.String;
				writable = NO;
			}
		);
		actions = (
			{
				name = "ConnectUsing";
				class = org.netbeans.modules.db.explorer.actions.ConnectUsingDriverAction;
				node = root;
			},
			delimiter,
			{
				name = "RemoveDriver";
				class = org.openide.actions.DeleteAction;
				node = driverlist;
				system = YES;
			},
			delimiter,
			{
				name = "Customize";
				class = org.netbeans.modules.db.explorer.actions.CustomizeDriverAction;
			}
		);
	};

	/**
	* Connection section.
	* This section describes dynamic subnodes in "Databases" node. Entire connection
	* serves a lot of properties, allows connect or disconnect to database, eventually
	* delete the connection.
	*/
	connection = {
		name = Connection;
		displayname = "{0} [disconnected]";
		activedisplayname = "{0}";
		class = org.netbeans.modules.db.explorer.nodes.ConnectionNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ConnectionNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/connectionDisconnected";
		activeiconbase = "org/netbeans/modules/db/resources/connection";
		children = ();
		options = {
			cut = NO;
			copy = YES;
			delete = YES;
		};
		children_ordering = {
			org.netbeans.modules.db.explorer.nodes.TableListNode = 0;
			org.netbeans.modules.db.explorer.nodes.ViewListNode = 1;
			org.netbeans.modules.db.explorer.nodes.ProcedureListNode = 2;
		};
		actions = (
			{
				name = "Connect";
				class = org.netbeans.modules.db.explorer.actions.ConnectAction;
			},
			{
				name = "Disconnect";
				class = org.netbeans.modules.db.explorer.actions.DisconnectAction;
			},
			delimiter,
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
                        delimiter,
                        {
                                name = "Refresh";
                                class = org.netbeans.modules.db.explorer.actions.RefreshChildrenAction;
                        },
			delimiter,
			{
				name = "RemoveConnection";
				class = org.openide.actions.DeleteAction;
				system = YES;
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = db;
				name = "DatabaseURL";
				class = java.lang.String;
				writable = YES;
			},
			{
				code = driver;
				name = "DriverURL";
				class = java.lang.String;
				writable = YES;
			},
			{
				code = schema;
				name = "Schema";
				class = java.lang.String;
				writable = YES;
			},
			{
				code = dbproduct;
				name = "Product";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = user;
				name = "User";
				class = java.lang.String;
				writable = YES;
			},
			{
				code = databaseProductName;
				name = databaseProductName;
				class = java.lang.String;
				writable = NO;
			},
			{
				code = databaseProductVersion;
				name = databaseProductVersion;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = rememberpwd;
				name = "RememberPassword";
				class = java.lang.Boolean;
				writable = NO;
			},
			{
				code = proceduresAreCallable;
				name = proceduresAreCallable;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = tablesAreSelectable;
				name = tablesAreSelectable;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = readOnly;
				name = readOnly;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = localFiles;
				name = localFiles;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = localFilePerTable;
				name = localFilePerTable;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = mixedCaseIdentifiers;
				name = mixedCaseIdentifiers;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = mixedCaseQuotedIdentifiers;
				name = mixedCaseQuotedIdentifiers;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = alterTableWithAddColumn;
				name = alterTableWithAddColumn;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = alterTableWithDropColumn;
				name = alterTableWithDropColumn;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = columnAliasing;
				name = columnAliasing;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = nullPlusNonNullIsNull;
				name = nullPlusNonNullIsNull;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = convert;
				name = convert;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = tableCorrelationNames;
				name = tableCorrelationNames;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = differentTableCorrelationNames;
				name = differentTableCorrelationNames;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = expressionsInOrderBy;
				name = expressionsInOrderBy;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = orderByUnrelated;
				name = orderByUnrelated;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = groupBy;
				name = groupBy;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = groupByUnrelated;
				name = groupByUnrelated;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = groupByBeyondSelect;
				name = groupByBeyondSelect;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = likeEscapeClause;
				name = likeEscapeClause;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = multipleResultSets;
				name = multipleResultSets;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = multipleTransactions;
				name = multipleTransactions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = nonNullableColumns;
				name = nonNullableColumns;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = minimumSQLGrammar;
				name = minimumSQLGrammar;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = coreSQLGrammar;
				name = coreSQLGrammar;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = extendedSQLGrammar;
				name = extendedSQLGrammar;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = ANSI92EntryLevelSQL;
				name = ANSI92EntryLevelSQL;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = ANSI92IntermediateSQL;
				name = ANSI92IntermediateSQL;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = ANSI92FullSQL;
				name = ANSI92FullSQL;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = IntegrityEnhancementFacility;
				name = IntegrityEnhancementFacility;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = outerJoins;
				name = outerJoins;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = fullOuterJoins;
				name = fullOuterJoins;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = limitedOuterJoins;
				name = limitedOuterJoins;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = catalogAtStart;
				name = catalogAtStart;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = schemasInDataManipulation;
				name = schemasInDataManipulation;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = schemasInProcedureCalls;
				name = schemasInProcedureCalls;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = schemasInTableDefinitions;
				name = schemasInTableDefinitions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = schemasInIndexDefinitions;
				name = schemasInIndexDefinitions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = schemasInPrivilegeDefinitions;
				name = schemasInPrivilegeDefinitions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = catalogsInDataManipulation;
				name = catalogsInDataManipulation;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = catalogsInProcedureCalls;
				name = catalogsInProcedureCalls;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = catalogsInTableDefinitions;
				name = catalogsInTableDefinitions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = catalogsInIndexDefinitions;
				name = catalogsInIndexDefinitions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = catalogsInPrivilegeDefinitions;
				name = catalogsInPrivilegeDefinitions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = positionedDelete;
				name = positionedDelete;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = positionedUpdate;
				name = positionedUpdate;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = selectForUpdate;
				name = selectForUpdate;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = storedProcedures;
				name = storedProcedures;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = subqueriesInComparisons;
				name = subqueriesInComparisons;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = subqueriesInExists;
				name = subqueriesInExists;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = subqueriesInIns;
				name = subqueriesInIns;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = subqueriesInQuantifieds;
				name = subqueriesInQuantifieds;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = correlatedSubqueries;
				name = correlatedSubqueries;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = union;
				name = union;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = unionAll;
				name = unionAll;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = openCursorsAcrossCommit;
				name = openCursorsAcrossCommit;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = openCursorsAcrossRollback;
				name = openCursorsAcrossRollback;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = openStatementsAcrossCommit;
				name = openStatementsAcrossCommit;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = openStatementsAcrossRollback;
				name = openStatementsAcrossRollback;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = maxRowSizeIncludeBlobs;
				name = maxRowSizeIncludeBlobs;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = transactions;
				name = transactions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = dataDefinitionAndDataManipulationTransactions;
				name = dataDefinitionAndDataManipulationTransactions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = dataManipulationTransactionsOnly;
				name = dataManipulationTransactionsOnly;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = dataDefinitionCausesTransactionCommit;
				name = dataDefinitionCausesTransactionCommit;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = dataDefinitionIgnoredInTransactions;
				name = dataDefinitionIgnoredInTransactions;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = batchUpdates;
				name = batchUpdates;
				class = java.lang.Boolean;
				writable = NO;
				expert = YES;
			},
			{
				code = nullSort;
				name = nullSort;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = identifierStore;
				name = identifierStore;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = quotedIdentifierStore;
				name = quotedIdentifierStore;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxBinaryLiteralLength;
				name = maxBinaryLiteralLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxCharLiteralLength;
				name = maxCharLiteralLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxColumnNameLength;
				name = maxColumnNameLength;
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = maxColumnsInGroupBy;
				name = maxColumnsInGroupBy;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxColumnsInIndex;
				name = maxColumnsInIndex;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxColumnsInOrderBy;
				name = maxColumnsInOrderBy;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxColumnsInSelect;
				name = maxColumnsInSelect;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxColumnsInTable;
				name = maxColumnsInTable;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxConnections;
				name = maxConnections;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxCursorNameLength;
				name = maxCursorNameLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxIndexLength;
				name = maxIndexLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxSchemaNameLength;
				name = maxSchemaNameLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxProcedureNameLength;
				name = maxProcedureNameLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxCatalogNameLength;
				name = maxCatalogNameLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxRowSize;
				name = maxRowSize;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxStatementLength;
				name = maxStatementLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxStatements;
				name = maxStatements;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxTableNameLength;
				name = maxTableNameLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxTablesInSelect;
				name = maxTablesInSelect;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = maxUserNameLength;
				name = maxUserNameLength;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = defaultTransactionIsolation;
				name = defaultTransactionIsolation;
				class = java.lang.Integer;
				writable = NO;
				expert = YES;
			},
			{
				code = driverName;
				name = driverName;
				class = java.lang.String;
				writable = NO;
			},
			{
				code = driverVersion;
				name = driverVersion;
				class = java.lang.String;
				writable = NO;
			},
			{
				code = driverMajorVersion;
				name = driverMajorVersion;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = driverMinorVersion;
				name = driverMinorVersion;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = identifierQuoteString;
				name = identifierQuoteString;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = SQLKeywords;
				name = SQLKeywords;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = numericFunctions;
				name = numericFunctions;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = stringFunctions;
				name = stringFunctions;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = systemFunctions;
				name = systemFunctions;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = timeDateFunctions;
				name = timeDateFunctions;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = searchStringEscape;
				name = searchStringEscape;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = extraNameCharacters;
				name = extraNameCharacters;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = schemaTerm;
				name = schemaTerm;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = procedureTerm;
				name = procedureTerm;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = catalogTerm;
				name = catalogTerm;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			},
			{
				code = catalogSeparator;
				name = catalogSeparator;
				class = java.lang.String;
				writable = NO;
				expert = YES;
			}
		);
	};

	/**
	* Table list section.
	* This section describes dynamic subnodes in "Connection" node.
	*/
	tablelist = {
		name = Tables;
		displayname = "{name}";
		class = org.netbeans.modules.db.explorer.nodes.TableListNode;
		infoclass = org.netbeans.modules.db.explorer.infos.TableListNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/folder";
		children = ();
		properties = ();
		options = {};
		actions = (
			{
				name = "CreateTable";
				class = org.netbeans.modules.db.explorer.actions.CreateTableAction;
				perm = "write";
			},
			{
				name = "RecreateTable";
				class = org.netbeans.modules.db.explorer.actions.RecreateTableAction;
				perm = "write";
			},
			delimiter,
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "Refresh";
				class = org.netbeans.modules.db.explorer.actions.RefreshChildrenAction;
			},
			delimiter
		);
	};

	/**
	* Table  section.
	* This section describes one table.
	*/
	table = {
		name = Table;
		class = org.netbeans.modules.db.explorer.nodes.TableNode;
		infoclass = org.netbeans.modules.db.explorer.infos.TableNodeInfo;
		creator = tablelist;
		iconbase = "org/netbeans/modules/db/resources/table";
		children = (ilist,fklist);
/*		resultset = (catalog,schema,name,type,remarks); */
		resultset = (catalog,schema,name,type);
		options = {
			cut = NO;
			copy = YES;
			delete = YES;
		};
		children_ordering = {
			org.netbeans.modules.db.explorer.nodes.ColumnNode = 0;
			org.netbeans.modules.db.explorer.nodes.PrimaryKeyNode = 1;
                        org.netbeans.modules.db.explorer.nodes.IndexListNode = 2;
                        org.netbeans.modules.db.explorer.nodes.ForeignKeyListNode = 3;
		};
		actions = (
			{
				name = "ViewData";
				class = org.netbeans.modules.db.explorer.actions.ViewDataAction;
			},
/* Issue 12617: Disable until we can commit resources to improve it.  Still accessible
   via visualweb rowset query edit command
			{
				name = "DesignQuery";
				class = org.netbeans.modules.db.explorer.actions.DesignQueryAction;
			},
*/
			delimiter,
			{
				name = "AddColumn";
				class = org.netbeans.modules.db.explorer.actions.AddColumnAction;
				perm = "write";
			},
			{
				name = "Refresh";
				class = org.netbeans.modules.db.explorer.actions.RefreshChildrenAction;
			},
			{
				name = "RemoveTable";
				class = org.openide.actions.DeleteAction;
				perm = "write";
				system = YES;
			},
			delimiter,
			{
				name = "GrabStructure";
				class = org.netbeans.modules.db.explorer.actions.GrabTableAction;
			},
			{
				name = "RecreateTable";
				class = org.netbeans.modules.db.explorer.actions.RecreateTableAction;
				node = tablelist;
				perm = "write";
			},
			delimiter,
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = catalog;
				name = "Catalog";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = schema;
				name = "Schema";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = type;
				name = "ColumnType";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = remarks;
				name = "Remarks";
				class = java.lang.String;
				writable = NO;
			}
		);
	};

	/**
	* Column section.
	* This section describes list of one column.
	*/
	column = {
		name = "Column";
		class = org.netbeans.modules.db.explorer.nodes.ColumnNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ColumnNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/column";
		resultset = (catalog,schema,tablename,name,datatype,typename,columnsize,bufflen,decdigits,radix,nullable,remarks,coldef,reserved1,reserved2,octetlen,ordpos,isnullable);
		options = {
			cut = NO;
			copy = YES;
			delete = YES;
		};
		actions = (
			{
				name = "ViewData";
				class = org.netbeans.modules.db.explorer.actions.ViewDataAction;
			},
			delimiter,
			{
				name = "RemoveColumn";
				class = org.openide.actions.DeleteAction;
				perm = "write";
				system = YES;
			},
			delimiter,
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = type;
				name = "Type";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = isnullable;
				name = "Null";
				class = java.lang.Boolean;
				writable = NO;
			},
			{
				code = datatype;
				name = "Datatype";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = coldef;
				name = "Default";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = columnsize;
				name = "ColumnSize";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = decdigits;
				name = "DecimalDigits";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = ordpos;
				name = "Position";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = remarks;
				name = "Remarks";
				class = java.lang.String;
				writable = NO;
			}
		);
	};

	/** Indexed column section
	*/
	icolumn = {
		name = "Index";
		class = org.netbeans.modules.db.explorer.nodes.ColumnNode;
		infoclass = org.netbeans.modules.db.explorer.infos.IndexColumnNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/columnIndex";
		resultset = (catalog,schema,tablename,unique,qual,idxname,type,ordpos,name,ord,card,pages,filter);
		options = {
			cut = NO;
			copy = NO;
			delete = YES;
		};
		actions = (
			{
				name = "AddColumn";
				class = org.netbeans.modules.db.explorer.actions.AddColumnAction;
				perm = "write";
				node = table;
			},
			delimiter,
			{
				name = "ViewData";
				class = org.netbeans.modules.db.explorer.actions.ViewDataAction;
			},
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "Remove column";
				class = org.openide.actions.DeleteAction;
				perm = "write";
				system = YES;
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = type;
				name = "Type";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = isnullable;
				name = "Null";
				class = java.lang.Boolean;
				writable = NO;
			},
			{
				code = datatype;
				name = "Datatype";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = coldef;
				name = "Default";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = columnsize;
				name = "ColumnSize";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = decdigits;
				name = "DecimalDigits";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = ordpos;
				name = "Position";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = remarks;
				name = "Remarks";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = idxname;
				name = "Index";
				class = java.lang.String;
				writable = NO;
			}
		);
	};

	/**
	* Primary key section.
	* This section describes list of one column.
	*/
	pcolumn = {
		name = "Primary key";
		class = org.netbeans.modules.db.explorer.nodes.PrimaryKeyNode;
		infoclass = org.netbeans.modules.db.explorer.infos.PrimaryColumnNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/columnPrimary";
		resultset = (catalog,schema,tablename,name,keyseq,pkname);
		options = {
			cut = NO;
			copy = YES;
			delete = YES;
		};
		actions = (
			{
				name = "AddColumn";
				class = org.netbeans.modules.db.explorer.actions.AddColumnAction;
				perm = "write";
				node = table;
			},
			delimiter,
			{
				name = "ViewData";
				class = org.netbeans.modules.db.explorer.actions.ViewDataAction;
			},
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "RemoveColumn";
				class = org.openide.actions.DeleteAction;
				perm = "write";
				system = YES;
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = type;
				name = "Type";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = isnullable;
				name = "Null";
				class = java.lang.Boolean;
				writable = NO;
			},
			{
				code = datatype;
				name = "Datatype";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = coldef;
				name = "Default";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = columnsize;
				name = "ColumnSize";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = decdigits;
				name = "DecimalDigits";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = ordpos;
				name = "Position";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = remarks;
				name = "Remarks";
				class = java.lang.String;
				writable = NO;
			}
		);
	};

	/**
	* Foreign key section.
	* This section describes one related column.
	*/
	fcolumn = {
		name = "Foreign key";
		class = org.netbeans.modules.db.explorer.nodes.ColumnNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ForeignColumnNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/columnForeign";
		resultset = (unused,pktable_schem,pktable_table,pkcolumn_name,unused,unused,unused,name,key_seq);
		options = {
			cut = NO;
			copy = NO;
			delete = NO;
		};
		actions = (
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = pktable_schem;
				name = "Referenced schema";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = pktable_table;
				name = "Referenced table";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = pkcolumn_name;
				name = "Referenced column";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = key_seq;
				name = "Position in foreign key";
				class = java.lang.Integer;
				writable = NO;
			}
		);
	};

	ekeylist = {
		name = "Exported keys";
		class = org.netbeans.modules.db.explorer.nodes.DatabaseNode;
		infoclass = org.netbeans.modules.db.explorer.infos.RefTableListNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/folder";
		children = ();
		properties = ();
		options = {};
		actions = ();
	};

	fklist = {
		name = "Foreign keys";
		class = org.netbeans.modules.db.explorer.nodes.ForeignKeyListNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ForeignKeyListNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/folder";
		children = ();
		properties = ();
		options = {
			cut = NO;
			copy = NO;
			delete = NO;
		};
		actions = (
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter
		);
	};

	ilist = {
		name = "Indexes";
		class = org.netbeans.modules.db.explorer.nodes.IndexListNode;
		infoclass = org.netbeans.modules.db.explorer.infos.IndexListNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/folder";
		children = ();
		properties = ();
		options = {
			cut = NO;
			copy = NO;
			delete = NO;
		};
		actions = (
			{
				name = "AddIndex";
				class = org.netbeans.modules.db.explorer.actions.AddIndexAction;
				perm = "write";
			},
			delimiter,
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter
		);
	};

	index = {
		name = "Index";
		class = org.netbeans.modules.db.explorer.nodes.IndexNode;
		infoclass = org.netbeans.modules.db.explorer.infos.IndexNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/index";
		resultset = (unused,unused,unused,unique,unused,name);
		children = ();
		options = {
			cut = NO;
			copy = NO;
			delete = YES;
		};
		actions = (
			{
				name = "AddColumn";
				class = org.netbeans.modules.db.explorer.actions.AddToIndexAction;
				perm = "write";
			},
			{
				name = "AddIndex";
				class = org.netbeans.modules.db.explorer.actions.AddIndexAction;
				node = ilist;
				perm = "write";
			},
			delimiter,
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "Refresh";
				class = org.netbeans.modules.db.explorer.actions.RefreshChildrenAction;
			},
			delimiter,
			{
				name = "RemoveIndex";
				class = org.openide.actions.DeleteAction;
				node = ilist;
				system = YES;
				perm = "write";
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
                        {
				code = name;
				writable = NO;
			},
			{
				code = unique;
				name = "Non-unique";
				class = java.lang.String;
				writable = NO;
			}
        );
	};

	indexcolumn = {
		name = "IndexColumn";
		class = org.netbeans.modules.db.explorer.nodes.LeafNode;
		infoclass = org.netbeans.modules.db.explorer.infos.IndexColumnNodeInfo;
		iconbaseA = "org/netbeans/modules/db/resources/indexDown";
		iconbaseD = "org/netbeans/modules/db/resources/indexUp";
		resultset = (catalog,schema,tablename,unused,qual,ixname,type,ordpos,name,ord,card,pages,filter);
		options = {
			cut = NO;
			copy = NO;
			delete = NO;
		};
		actions = (
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = qual;
				name = "Qualifier";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = filter;
				name = "Filter";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = ordpos;
				name = "Position";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = ord;
				name = "Ordinal";
				class = java.lang.String;
				writable = NO;
			}
		);
	};

	fkey = {
		name = "Foreign Key";
		class = org.netbeans.modules.db.explorer.nodes.ForeignKeyNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ForeignKeyNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/foreignKey";
		resultset = (unused,unused,unused,unused,unused,unused,unused,unused,unused,unused,unused,name);
		children = ();
		options = {
			cut = NO;
			copy = NO;
			delete = NO;
		};
		actions = (
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "Refresh";
				class = org.netbeans.modules.db.explorer.actions.RefreshChildrenAction;
			}
		);
		properties = ();
	};

	ekey = {
		name = "Exported key";
		class = org.netbeans.modules.db.explorer.node.LeafNode;
		infoclass = org.netbeans.modules.db.explorer.infos.RefTableNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/tableReferenced";
		resultset = (pcatalog,pschema,pname,pcolname,catalog,schema,name,colname,keyseq,updaterule,deleterule,fkname,pkname,defer);
		children = ();
		options = {};
		actions = ();
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = pcatalog;
				name = "PrimaryCatalog";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = pschema;
				name = "PrimarySchema";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = pname;
				name = "PrimaryTable";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = pcolname;
				name = "PrimaryColumn";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = catalog;
				name = "ForeignCatalog";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = schema;
				name = "ForeignSchema";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = colname;
				name = "ForeignColumn";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = keyseq;
				name = "KeySeq";
				class = java.lang.Integer;
				writable = NO;
			}
		);
	};

	viewlist = {
		name = "Views";
		displayname = "{name}";
		class = org.netbeans.modules.db.explorer.nodes.ViewListNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ViewListNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/folder";
		children = ();
		properties = ();
		options = {};
		actions = (
			{
				name = "AddView";
				class = org.netbeans.modules.db.explorer.actions.CreateViewAction;
				perm = "write";
			},
			delimiter,
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "Refresh";
				class = org.netbeans.modules.db.explorer.actions.RefreshChildrenAction;
			},
			delimiter
		);
	};

	view = {
		name = "View";
		class = org.netbeans.modules.db.explorer.nodes.ViewNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ViewNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/view";
		resultset = (catalog,schema,name,type,remarks);
		children = ();
		options = {
			cut = NO;
			copy = YES;
			delete = YES;
		};
		actions = (
			{
				name = "AddView";
				class = org.netbeans.modules.db.explorer.actions.CreateViewAction;
				perm = "write";
				node = viewlist;
			},
			delimiter,
			{
				name = "ViewData";
				class = org.netbeans.modules.db.explorer.actions.ViewDataAction;
			},
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "RemoveView";
				class = org.openide.actions.DeleteAction;
				perm = "write";
				system = YES;
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = remarks;
				name = "Remarks";
				class = java.lang.String;
				writable = NO;
			}
		);
	};

	viewcolumn = {
		name = "Column";
		class = org.netbeans.modules.db.explorer.nodes.ColumnNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ViewColumnNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/columnView";
		resultset = (catalog,schema,tablename,name,datatype,typename,columnsize,bufflen,decdigits,radix,nullable,remarks,coldef,reserved1,reserved2,octetlen,ordpos,isnullable);
		children = ();
		options = {};
		actions = (
			{
				name = "ViewData";
				class = org.netbeans.modules.db.explorer.actions.ViewDataAction;
			},
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = datatype;
				name = "Datatype";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = coldef;
				name = "Default";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = columnsize;
				name = "ColumnSize";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = decdigits;
				name = "DecimalDigits";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = ordpos;
				name = "Position";
				class = java.lang.Integer;
				writable = NO;
			},
			{
				code = remarks;
				name = "Remarks";
				class = java.lang.String;
				writable = NO;
			}
		);
	};

	procedurelist = {
		name = "Procedures";
		displayname = "{name}";
		class = org.netbeans.modules.db.explorer.nodes.ProcedureListNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ProcedureListNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/folder";
		children = ();
		properties = ();
		options = {};
		actions = (
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "Refresh";
				class = org.netbeans.modules.db.explorer.actions.RefreshChildrenAction;
			}
		);
	};

	procedure = {
		name = "Procedure";
		class = org.netbeans.modules.db.explorer.nodes.ProcedureNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ProcedureNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/procedure";
		resultset = (catalog,schema,name,reserved1,reserverd2,reserverd3,remarks,type);
		children = ();
		options = {
			cut = NO;
			copy = NO;
			delete = NO;
		};
		actions = (
//			{
//				name = "AddProcedure";
//				class = org.netbeans.modules.db.explorer.actions.CreateProcedureAction;
//				node = procedurelist;
//			},
//			delimiter,
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},			
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = type;
				name = "Type";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = remarks;
				name = "Remarks";
				class = java.lang.String;
				writable = NO;
			}
		);
	};

	procedurecolumn = {
		name = "ProcedureColumn";
		class = org.netbeans.modules.db.explorer.nodes.ProcedureParamNode;
		infoclass = org.netbeans.modules.db.explorer.infos.ProcedureParamNodeInfo;
		iconbase = "org/netbeans/modules/db/resources/param";
		iconbase_in = "org/netbeans/modules/db/resources/paramIn";
		iconbase_out = "org/netbeans/modules/db/resources/paramOut";
		iconbase_inout = "org/netbeans/modules/db/resources/paramInOut";
		iconbase_result = "org/netbeans/modules/db/resources/paramResult";
		iconbase_return = "org/netbeans/modules/db/resources/paramReturn";
		resultset = (catalog, schema, procname, name, type, dtype, typename, precision, length, scale, radix, nullable, remarks);
		options = {
			cut = NO;
			copy = NO;
			delete = NO;
		};
		actions = (
//			{
//				name = "AddProcedure";
//				class = org.netbeans.modules.db.explorer.actions.CreateProcedureAction;
//				node = procedurelist;
//			},
//			delimiter,
			{
				name = "ExecuteCommand";
				class = org.netbeans.modules.db.explorer.actions.ExecuteCommandAction;
			},
			delimiter,
			{
				name = "RemoveTable";
				class = org.openide.actions.DeleteAction;
				node = procedurelist;
				system = YES;
				perm = "write";
			},
                        {
                                name = "Properties";
                                class = org.openide.actions.PropertiesAction;
                                system = YES;
                        }
		);
		properties = (
			{
				code = name;
				writable = NO;
			},
			{
				code = type;
				name = "Type";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = typename;
				name = "DataType";
				class = java.lang.String;
				writable = NO;
			},
			{
				code = remarks;
				name = "Remarks";
				class = java.lang.String;
				writable = NO;
			}
		);
	};
}
