/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 *
 * Copyright 2011 Oracle and/or its affiliates. All rights reserved.
 *
 * Oracle and Java are registered trademarks of Oracle and/or its affiliates.
 * Other names may be trademarks of their respective owners.
 *
 * The contents of this file are subject to the terms of either the GNU
 * General Public License Version 2 only ("GPL") or the Common
 * Development and Distribution License("CDDL") (collectively, the
 * "License"). You may not use this file except in compliance with the
 * License. You can obtain a copy of the License at
 * http://www.netbeans.org/cddl-gplv2.html
 * or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 * specific language governing permissions and limitations under the
 * License.  When distributing the software, include this License Header
 * Notice in each file and include the License file at
 * nbbuild/licenses/CDDL-GPL-2-CP.  Oracle designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Oracle in the GPL Version 2 section of the License file that
 * accompanied this code. If applicable, add the following below the
 * License Header, with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 *
 * If you wish your version of this file to be governed by only the CDDL
 * or only the GPL Version 2, indicate your decision by adding
 * "[Contributor] elects to include this software in this distribution
 * under the [CDDL or GPL Version 2] license." If you do not indicate a
 * single choice of license, a recipient has the option to distribute
 * your version of this file under either the CDDL, the GPL Version 2 or
 * to extend the choice of license to its licensees as provided above.
 * However, if you add GPL Version 2 code and therefore, elected the GPL
 * Version 2 license, then the option applies only if the new code is
 * made subject to such option by the copyright holder.
 *
 * Contributor(s):
 *
 * Portions Copyrighted 2011 Sun Microsystems, Inc.
 */

/* ========== GENERAL =========================================================================================================================== */

html    {
    font-size:100%;
}
body    {
    margin:10px;
    border:0;
    padding:0;
    font-family:"Lucida Grande", Verdana, "Tahoma", "Luxi Sans", Arial, Helvetica, sans-serif;
    font-size:72%;
    color:#696969;
}
h1	{
    margin:0px 0 10px 0;
    font-size:115%;
    font-weight:bold;
    color:#454545;
    background:transparent;
}
h2	{
    margin:0px 0 10px 0;
    font-size:115%;
    font-weight:normal;
    color:black;
    background:transparent;
}
h2.none {
    display:none;
    font-size:95%;
}
h3      {
    margin:0px 0 5px 0;
    font-size:100%;
    font-weight:normal;
    color:black;
    background:transparent;
}
h4      {
    margin:0px 0 5px 0;
    font-size:100%;
    font-weight:bold;
    color:black;
    background:transparent;
}
.none   {
    display:none;
}
strong	{
    font-style:normal;
    font-weight:bold;
}
img 	  {
    margin:10px;
    border:0;
    padding:0;
}

a 	    {
    color:#e31700;
    font-weight:normal;
    text-decoration:underline;
    background:transparent;
}
a:hover {
    color:#696969;
    font-weight:normal;
    text-decoration:none;
    background:transparent;
}

form, fieldset, zend_form { margin:0; padding:0; border:0; }
table, table td, table th  { font-size:100%; }
textarea, input, select, option, td textarea, td input, td select, td option
{ font-family:"Lucida Grande", Verdana, "Tahoma", "Luxi Sans", Arial, Helvetica, sans-serif; font-size:100%; }

/* ========== DESIGN - HOME ====================================================================================================================== */

/* ---------- PAGE */
#bodyimg  { background:transparent url("../images/bodyimg.jpg") top center repeat-x; }
#pagebox  { width:960px; margin:0 auto; text-align:left; }

/* ---------- TOP */
#top    { width:960px; height:132px; position:relative; }
#top h2 span {
    float:right;
    font-size: 10px;
}
#lan    { width:168px; height:36px; position:absolute; top:0; right:0; background:url("../images/lanbg.png") no-repeat; font-size:85%; }
#lan ul { width:168px; margin:6px 0 0 0; border:0; padding:0; list-style-type:none; }
#lan ul li { display:block; margin:0; border:0; padding:0; float:left; }
#lan ul li a       { display:block; height:25px; text-decoration:none; color:#f0f0f0; background:transparent;  margin:0; border:0; padding:0;  }
#lan ul li a:hover { display:block; height:25px; text-decoration:underline; color:#f0f0f0; background:transparent; margin:0; border:0; padding:0;  }

/* ---------- MENU */
#menu {
    width:960px;
    height:42px;
    font-size:95%;
    /*    color:#0f1a51;*/
    background:#0f1a51 url("../images/menubg.jpg") top left no-repeat;
}
#menu ul       { width:960px; margin:0; border:0; padding:0; list-style-type:none; }
#menu ul li    { display:block; height:42px; margin:0; border:0; padding:0; float:left; text-align:center;  }
#menu ul li a  {
    display:block;
    height:42px;
    margin:0;
    border:0;
    padding:0;
    text-decoration:none;
    text-transform:uppercase;
    color: #e2000d;
    font-weight: bold;
    background:transparent;
    position:relative;
    line-height:40px;
    padding-left:1px; }
#menu ul li a:hover {
    display:block;
    height:42px;
    margin:0;
    border:0;
    padding:0;
    text-decoration:none;
    text-transform:uppercase;
    color:#e2000d;
    font-weight: bold;
    background:transparent;
    position:relative;
    padding-left:1px;
    cursor:pointer; }
/* li a width */
#menu ul li.m1, #menu ul li.m1 a, #menu ul li.m1 a:hover { width: 180px; }
#menu ul li.m2, #menu ul li.m2 a, #menu ul li.m2 a:hover { width: 140px; }
#menu ul li.m3, #menu ul li.m3 a, #menu ul li.m3 a:hover { width: 200px; }
#menu ul li.m4, #menu ul li.m4 a, #menu ul li.m4 a:hover { width: 200px; }
#menu ul li.m5, #menu ul li.m5 a, #menu ul li.m5 a:hover { width: 200px; }

#menu ul li.modd { width:6px; background:url("../images/modd.gif") 4px 11px no-repeat; }



/* ---------- CONTENT */
#conbox     { width:960px; color:#696969; background:white;min-height:600px; }
#con        { padding:10px; position:relative; }

#con h1      { margin:5px 0 5px 0; padding:0; font-size:185%; background:url("../images/h1line.gif") no-repeat; font-weight:normal;
               text-transform:uppercase; letter-spacing:-1px; line-height:40px; }
#con h2      { font-weight:bold; color:#696969; }
#con h3      { margin:10px 0 0px 0; padding:0; color:#6a9a06; background:transparent; font-size:95%; font-weight:bold; }
#con p       { margin:5px 0 5px 0; line-height:1.5; font-size:95%; }
#con a, #con a:hover { font-size:95%; }

/* form */
div.formrow div.field {margin-left:20px;}
ul.errors {list-style:none;margin:0;padding:0;}
ul.errors li {color:red;font-weight:bold;margin:0;padding:0;}



/* ---------- FOOTER */
#footbox       { width:960px; height:140px; color:#7d7d7d; background:#bfbfbf url("../images/footbg.jpg") top left repeat-x; }
#foot          { padding:10px 10px 0 10px; }
#footbox .fo   { display:block; float:left; padding-top:5px; }
#footbox .f1   { width:400px; }
#footbox .f2   {
    padding-left: 100px;
    width:200px;
}
#footbox .f3   {
    width:100px;
    float:right;
}

#footbox .fo h2 { margin:0; padding:0; color:white; background:transparent; font-size:100%; font-weight:bold; text-transform:uppercase; }
#footbox p { font-size:95%; margin-top:19px; }
#footbox a { color:#7d7d7d; background:transparent; text-decoration:none; }
#footbox a:hover { color:#7d7d7d; background:transparent; text-decoration:none; }
#footbox p.kon { width:121px; float:left; margin-top:19px; }
#footbox p.kon span { display:block; padding-left:15px; background:url("../images/icotel.gif") 0 3px no-repeat; }
#footbox p.kon span.fax { background:url("../images/icofax.gif") 0 3px no-repeat; }

/* ---------- BOTTOM */
#botbox        { height:225px; background:url("../images/botbg.jpg") top center repeat-x; }

/* ---------- OTHER */
/* cleaner */
.cleaner { clear:both; }

/* ========== MAIN =============================================================================================================================== */

/* ---------- PRODEJ NEMOVITOSTI */


/* result */
.result               { width:460px; float:left; margin-right:10px;  }
.result br            { clear:both;  }

.result a.fav,
.result a.fav:hover,
.result a.fav-del,
.result a.fav-del:hover {  }

.result .text                   {  width:280px; float:left;  }
#con .result .text h3           { font-size:120%; margin:0 0 10px 0; }
#con .result .text p.price      { float:left; color:#e00000; background:transparent; font-size:120%; font-weight:bold; }
#con .result .text p.price span { width:auto; color:#575757; background:transparent; font-size:95%; font-weight:normal; }
#con .result .text p.detail     { width:65px; float:right; color:#575757; background:transparent; font-size:95%; font-weight:normal;  }
.hr             { height:10px; margin:10px 0 10px 0; background:url("../images/dot.gif") left center repeat-x;  }

/* ---------- PRODEJ NEMOVITOSTI - DETAIL */

/* person + myfav */
.pmyfav              { width:240px; height:20px; position:absolute; top:-30px; right:0; font-size:95%; }
.pmyfav br           { clear:both; }
.pmyfav a            { display:block; float:right; text-decoration:underline; color:#575757; padding-left:20px; }
.pmyfav a:hover      { display:block; float:right; text-decoration:none; color:#575757; padding-left:20px; }
.pmyfav a.ico-person { width:120px; background:transparent url(../images/ico-person.gif) 0 center no-repeat; }
.pmyfav a.ico-myfav  { width:80px; background:transparent url(../images/ico-myfav.gif) 0 center no-repeat; }

/* detail */
#detailbox       { position:relative; }
.detail          { padding:0px 0 0px 0; }
#detailbox h2    { color:#e00000; background:transparent; font-size:160%; font-weight:normal; letter-spacing:-0.03em; }
/* detail-info */
.info            { width:315px; float:left; }
.info dl         { margin:7px 0 5px 2px; overflow:hidden; font-size:95%; background:url(../images/dot.gif) repeat-x 0 100%; }
.info dl dd      { display:block; margin:0; float:left; width:150px; padding:4px 0 6px 5px; font-weight:bold; clear:left; color:#9d9d9d; background:transparent url(../images/dot.gif) repeat-x;  }
.info dl dt      { display:block; float:left;  width:155px; padding:4px 0 5px; background:url(../images/dot.gif) repeat-x; min-height:16px;  }
.info dl dd span { color:#e00000; background:transparent; }
.info dl dt .price { color:#e00000; background:transparent; font-size:130%; font-weight:bold; }
.info dl dt .kc  { font-size:110%; }
.info dl dt .ok  { display:block; width:10px; height:10px; background:url(../images/ok.gif) no-repeat; position:relative; top:2px;  }
.info .ic a      { display:block; width:auto; padding-left:20px; color:#575757; font-weight:normal; text-align:left; text-decoration:underline;}
.info .ic a:hover { display:block; width:auto; padding-left:20px; color:#575757; font-weight:normal; text-align:left; text-decoration:none; }
.info dl a.ic1   { background:transparent url(../images/ic1.gif) 0 center no-repeat; }
.info dl a.ic2   { background:transparent url(../images/ic2.gif) 0 8px no-repeat; }
.info dl a.ic3   { background:url("../images/fav.gif") 0 5px no-repeat; }
.info dl a.ic33  { background:url("../images/fav-del.gif") 0 5px no-repeat; }
.info dl a.ic4   { background:transparent url(../images/ic4.gif) 0 center no-repeat; }
.info p          { padding-left:5px; }
.info p a        { display:block; float:left; padding-left:20px; color:#575757; font-weight:normal; text-align:left; }
.info p a:hover  { display:block; float:left; padding-left:20px; color:#575757; font-weight:normal; text-align:left; text-decoration:underline; }
.info p br       { clear:both; }
.info p a.ic1    { width:65px; background:transparent url(../images/ico-fb.gif) 0 center no-repeat; }
.info p a.ic2    { width:55px; background:transparent url(../images/ico-twitter.gif) 0 center no-repeat; }
.info p a.ic3    { width:55px; background:transparent url(../images/ico-blogger.gif) 0 center no-repeat; }
.info p a.ic4    { width:55px; background:transparent url(../images/ico-linkuj.gif) 0 center no-repeat; }



/* ========== END ================================================================================================================================ */

#foot .error-message { display: none; }

h3.popis         { text-transform:uppercase; font-size:13px !important; margin-bottom:9px !important; }
p.popis          { background-color:#efefef; padding:10px; }

ul.plus li       { background:url("../images/fav.gif") 0 3px no-repeat; display:block; min-height:20px; }