package Templates.Bluej;

/**
 * Enumeration class __NAME__ - write a description of the enum class here
 * 
 * @author __USER__
 * @version (version number or date here)
 */
public enum $CLASSNAME {
	monday, tuesday, wednesday, thursday, friday, saturday, sunday
}
