package Templates.Bluej;

/**
 * Write a description of interface __NAME__ here.
 * 
 * @author __USER__ 
 * @version (a version number or a date)
 */

public interface $CLASSNAME {
	/**
	 * An example of a method header - replace this comment with your own
	 * 
	 * @param  y	a sample parameter for a method
	 * @return		the result produced by sampleMethod 
	 */
	int sampleMethod(int y);
}
