package Templates.Bluej;

/**
 * Write a description of class __NAME__ here.
 * 
 * @author __USER__
 * @version (a version number or a date)
 */
public class $CLASSNAME {

    /**
     * Constructor for objects of class __NAME__
     */
    public $CLASSNAME() {
    }

    /**
     * main method, application starts here.
     * 
     * @param args execution arguments
     */
    public static void main(String[] args) {
        // put your code here
        System.out.println("Hello World");
    }
}
