/*
 *                 Sun Public License Notice
 * 
 * The contents of this file are subject to the Sun Public License
 * Version 1.0 (the "License"). You may not use this file except in
 * compliance with the License. A copy of the License is available at
 * http://www.sun.com/
 * 
 * The Original Code is NetBeans. The Initial Developer of the Original
 * Code is Sun Microsystems, Inc. Portions Copyright 1997-2001 Sun
 * Microsystems, Inc. All Rights Reserved.
 */

{
// ****************************************************
// default
// ****************************************************
  "DefaultDriver" = {
    DriverName = "DefaultDriver";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    getTables_TableNamePattern = null;
    getTables_Types = true;
    
    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;
    
    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
//    getPrimaryKeys_Table = true;

    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
//    getExportedKeys_Table = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;
//    getIndexInfo_Table = true;
//    getIndexInfo_Unique = true;
//    getIndexInfo_Approximate = false;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;
//    getColumns_TableNamePattern = true;
//    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
//    getProcedureColumns_ProcedureSchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };
  
// ****************************************************
// Cloudscape Embedded JDBC Driver
// ****************************************************
  "Cloudscape Embedded JDBC Driver" = {
    DriverName = "Cloudscape Embedded JDBC Driver";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };  

// ****************************************************
// DB2
// ****************************************************
  "DB2CLI.DLL" = {
    DriverName = "DB2CLI.DLL";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
};

// ****************************************************
// HypersonicSQL Driver
// ****************************************************
  "HypersonicSQL Driver" = {
    DriverName = "HypersonicSQL Driver";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
};

// ****************************************************
// IDS JDBC Driver for MS Access
// ****************************************************
  "IDS JDBC Driver" = {
    DriverName = "IDS JDBC Driver";
    getTables_Catalog = true;
    getTables_SchemaPattern = null;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = null;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = null;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = null;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = null;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = null;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = null;
    getProcedureColumns_ColumnNamePattern = null;
};
  
// ****************************************************
// InstantDB JDBC Driver
// ****************************************************
  "InstantDB JDBC Driver" = {
    DriverName = "InstantDB JDBC Driver";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };  

// ****************************************************
// InterClient driver for InterBase
// ****************************************************
  "InterClient" = {
    DriverName = "InterClient";
    getTables_Catalog = true;
    getTables_SchemaPattern = null;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = null;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = null;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = null;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = null;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = null;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = null;
    getProcedureColumns_ColumnNamePattern = null;
  };
  
// ****************************************************
// JTurbo Type 4 JDBC driver for MS SQLServer
// ****************************************************
  "JTurbo Type 4 JDBC driver for MS SQLServer" = {
    DriverName = "JTurbo Type 4 JDBC driver for MS SQLServer";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };

// ****************************************************
// Mark Matthews' MySQL Driver
// ****************************************************
  "Mark Matthews' MySQL Driver" = {
    DriverName = "Mark Matthews' MySQL Driver";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };
  
// ****************************************************
// MS Access JDBC-ODBC Bridge
// ****************************************************
  "JDBC-ODBC Bridge (odbcjt32.dll)" = {
    DriverName = "JDBC-ODBC Bridge (odbcjt32.dll)";
    getTables_Catalog = true;
    getTables_SchemaPattern = null;
    TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = null;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = null;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = null;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = null;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = null;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = null;
    getProcedureColumns_ColumnNamePattern = null;
  };    
  
// ****************************************************
// MySQL JDBC-ODBC bridge
// ****************************************************
  "JDBC-ODBC Bridge (myodbc.dll)" = {
    DriverName = "JDBC-ODBC Bridge (myodbc.dll)";
    getTables_Catalog = true;
    getTables_SchemaPattern = null;
    TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = null;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = null;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = null;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = null;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = null;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = null;
    getProcedureColumns_ColumnNamePattern = null;
  };  

// ****************************************************
// Oracle JDBC driver
// ****************************************************
  "Oracle JDBC driver" = {
    DriverName = "Oracle JDBC driver";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };
  
// ****************************************************
// PointBase JDBC driver
// ****************************************************
  "PointBase JDBC Driver" = {
    DriverName = "PointBase JDBC Driver";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };
  
// ****************************************************
// Sprinta JDBC driver for MS SQLServer
// ****************************************************
  "Sprinta JDBC driver" = {
    DriverName = "Sprinta JDBC driver";
    getTables_Catalog = true;
    getTables_SchemaPattern = null;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = null;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = null;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = null;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = null;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = null;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = null;
    getProcedureColumns_ColumnNamePattern = null;
  };
  
// ****************************************************
// Sybase jConnect driver
// ****************************************************
  "jConnect (TM) for JDBC (TM)" = {
    DriverName = "jConnect (TM) for JDBC (TM)";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };

// ****************************************************
// Sybase JDBC-ODBC bridge
// ****************************************************
  "JDBC-ODBC Bridge (DBODBC6W.DLL)" = {
    DriverName = "JDBC-ODBC Bridge (DBODBC6W.DLL)";
    getTables_Catalog = true;
    getTables_SchemaPattern = true;
    getTables_TableNamePattern = null;
    getTables_Types = true;

    getProcedures_Catalog = true;
    getProcedures_SchemaPattern = true;
    getProcedures_ProcedureNamePattern = null;

    getPrimaryKeys_Catalog = true;
    getPrimaryKeys_Schema = true;
    
    getExportedKeys_Catalog = true;
    getExportedKeys_Schema = true;
    
    getIndexInfo_Catalog = true;
    getIndexInfo_Schema = true;

    getColumns_Catalog = true;
    getColumns_SchemaPattern = true;

    getProcedureColumns_Catalog = true;
    getProcedureColumns_SchemaPattern = true;
    getProcedureColumns_ColumnNamePattern = null;
  };





}
