#set( $totalColumns = $sourceColumnIdentifiers.size() )
#set( $columnCounter = 1 )
#set( $indent = "    " )
#set( $pkIdCounter = 1 )
CREATE EXTERNAL TABLE #if( $ifNotExists )IF NOT EXISTS#end $tableName (
#foreach($sColumn in $sourceColumnIdentifiers )
#set( $colIndex = $columnCounter - 1 )
#set( $isNullable = $nullables.get($colIndex) )
${indent}$sColumn.getSql()#if( $isNullable ) NULL#else NOT NULL#end#if(( $columnCounter < $totalColumns ) || ( $pkIdentifiers.size() != 0 )), #end

#set( $columnCounter = $columnCounter + 1)
#end
) ORGANIZATION (
${indent}LOADTYPE='REMOTE'
${indent}DBLINK='${linkName}'
#if( $remoteName != "" )${indent}REMOTETABLE='${remoteName}'
#end
#if( $catalogName != "" )${indent}CATALOG='${catalogName}'
#end
#if( $schemaName != "" )${indent}SCHEMA='${schemaName}'
#end
#if( $createIfNotExist )${indent}CREATE_IF_NOT_EXIST='${createIfNotExist}'
#end
#if( $orderBy != "" )${indent}ORDERBY='${orderBy}'
#end
#if( $where != "" )${indent}WHERE='${where}'
#end
#if( $vendor != "" )${indent}VENDOR='${vendor}'
#end
#if( $columnsAreCaseSensitive )${indent}COLUMNS_ARE_CASE_SENSITIVE='${columnsAreCaseSensitive}'
#end
)
