#set( $indent = "    " )
CREATE#if( !$useMemoryTable ) EXTERNAL#end TABLE #if( $ifNotExists )IF NOT EXISTS#end $tableName (
${indent}"executionId" int generated always as identity start with 1,
${indent}"targetTable" varchar(255),
${indent}"startDate" timestamp,
${indent}"endDate" timestamp,
${indent}"extracted" int,
${indent}"loaded" int,
${indent}"rejected" int,
${indent}"exception_msg" varchar(2000))
#if( !$useMemoryTable )
ORGANIZATION (
${indent}LOADTYPE='DELIMITED'
${indent}FILENAME='${fileName}'
${indent}RECORDDELIMITER='${recordDelimiter}'
#if( $fieldDelimiter != "" )${indent}FIELDDELIMITER='${fieldDelimiter}'
#end
#if( $textQualifier != "" )${indent}QUALIFIER='${textQualifier}'
#end
#if( $isFirstLineHeader != "" )${indent}ISFIRSTLINEHEADER='${isFirstLineHeader}'
#end
)
#end