#set( $totalColumns = $sourceColumnIdentifiers.size() )
#set( $columnCounter = 1 )
#set( $indent = "    " )
#set( $pkIdCounter = 1 )
CREATE#if( !$useMemoryTable ) EXTERNAL#end TABLE #if( $ifNotExists )IF NOT EXISTS#end $tableName (
${indent}"executionId" int, 
${indent}"rowNumber" int generated always as identity start with 1, 
#foreach($sColumn in $sourceColumnIdentifiers )
#set( $colIndex = $columnCounter - 1 )
#set( $isNullable = $nullables.get($colIndex) )
${indent}$sColumn.getSql()#if( $isNullable ) NULL#else NOT NULL#end#if(( $columnCounter < $totalColumns ) || ( $pkIdentifiers.size() != 0 )), #end

#set( $columnCounter = $columnCounter + 1)
#end
#if( !$useMemoryTable )
) ORGANIZATION (
${indent}LOADTYPE='DELIMITED'
${indent}FILENAME='${fileName}'
${indent}RECORDDELIMITER='${recordDelimiter}'
#if( $fieldDelimiter != "" )${indent}FIELDDELIMITER='${fieldDelimiter}'
#end
#if( $textQualifier != "" )${indent}QUALIFIER='${textQualifier}'
#end
#if( $isFirstLineHeader != "" )${indent}ISFIRSTLINEHEADER='${isFirstLineHeader}'
#end
#end
)

