##
##
## logError.vm
##
## - errorLogTable: String; name of error log table
## - errorColumnIdentifiers: List; ColumnIdentifiers representing error log table columns to receive data on exception
## - errorValueIdentifiers: List; ColumnIdentifiers representing error log table data to be inserted
## - aliasErrorColumns: boolean; true to use aliases for ColumnIdentifiers representing error log columns
## - aliasErrorValues: boolean; true to use aliases for ColumnIdentifiers representing error log values
## - nestedIndent: String; prepends given String to text for formatting purposes
##
##
#set( $indent = "    " )
#set( $totalErrorColumns = $errorColumnIdentifiers.size())
#set( $columnCounter = 1)
#set( $totalValueColumns = $errorValueIdentifiers.size())
#set( $valueCounter = 1)
${nestedIndent}INSERT INTO $errorLogTable (
${nestedIndent}${indent}"executionId", 
#foreach( $eColumn in $errorColumnIdentifiers )
${nestedIndent}${indent}#if( ${aliasErrorColumns} )$eColumn.getAliasName()#else$eColumn.getSql()#end#if($columnCounter < $totalErrorColumns), #end

#set( $columnCounter = $columnCounter + 1)
#end
${nestedIndent})
${nestedIndent}VALUES (
${nestedIndent}${indent}$SBYN_executionId,
#foreach( $vColumn in $errorValueIdentifiers )
${nestedIndent}${indent}#if( ${aliasErrorValues} )$vColumn.getAliasName()#else$vColumn.getSql()#end#if($valueCounter < $totalValueColumns), #end

#set( $valueCounter = $valueCounter + 1)
#end
${nestedIndent})