/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 * 
 * Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 * 
 * The contents of this file are subject to the terms of either the GNU
 * General Public License Version 2 only ("GPL") or the Common
 * Development and Distribution License("CDDL") (collectively, the
 * "License"). You may not use this file except in compliance with the
 * License. You can obtain a copy of the License at
 * http://www.netbeans.org/cddl-gplv2.html
 * or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 * specific language governing permissions and limitations under the
 * License.  When distributing the software, include this License Header
 * Notice in each file and include the License file at
 * nbbuild/licenses/CDDL-GPL-2-CP.  Sun designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Sun in the GPL Version 2 section of the License file that
 * accompanied this code. If applicable, add the following below the
 * License Header, with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 * 
 * Contributor(s):
 * 
 * The Original Software is NetBeans. The Initial Developer of the Original
 * Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 * Microsystems, Inc. All Rights Reserved.
 * 
 * If you wish your version of this file to be governed by only the CDDL
 * or only the GPL Version 2, indicate your decision by adding
 * "[Contributor] elects to include this software in this distribution
 * under the [CDDL or GPL Version 2] license." If you do not indicate a
 * single choice of license, a recipient has the option to distribute
 * your version of this file under either the CDDL, the GPL Version 2 or
 * to extend the choice of license to its licensees as provided above.
 * However, if you add GPL Version 2 code and therefore, elected the GPL
 * Version 2 license, then the option applies only if the new code is
 * made subject to such option by the copyright holder.
 */

body{
    font: 10pt Verdana, sans-serif;
    color: navy;
}
.category{
    cursor: pointer;
    display: block;        
}
.item{
    display: none;
    margin-left: 16px;
    color: #000000;
}
a{
    text-decoration: underline;
}

.outerBorder {
    margin: 0px 20px 30px 20px;
    padding: 0 10px 10px 10px;
}

.header {
    height:20%;
}

.subheader {
    clear:both;
    height: 30px;
    background-color: #54809D;
    color: #FFFFFF;
    font-size:11px;
}

.subheader div {
    float:right;
}

.main {
    position: relative;
    width: 100%;
}

.content {
    margin: 0 0 0 0px;
    /*background-color: #E4EAF1;*/
    background-color: #FFFFFF;
    color: #000000;
    width: 700px;
}

.seperator {
    background-color: #E4EAF1;
}

.details {
    margin: 0 0 0 20px;
}

.leftSidebar {
    float: left; 
    width: 200px;
    height: 700px;
    font-size: 10px;
    /*background-color: #E4EAF1;*/
    background-color: #FFFFFF;
    color: #000000;
}

.banner {
    vertical-align:middle;
    font-size:25px;
    background-color: #54809D;
    color: #FFFFFF;  
    width: 100%;
}        

.tableheader {
    background-color: #54809D;
    color: #FFFFFF;
}
.results
{
    width: 600px;
}
.results .col
{
    width: 20%;
    float: left;
    margin-top: 0px;
}
.results .resultHeader
{
    background-color: #164A78;
    color: #FF9933;
    font-family: Arial, Verdana, Helvetica;
    font-size: 11px;
}
.results
{
    margin-left: 0%;
    border: 1px solid #e0e7ec;
    font-family: verdana, arial;
}
.stab
{
    border-right: #2574B7 1px solid;
    border-top: #2574B7 1px solid;
    border-left: #2574B7 1px solid;
    border-bottom: #2574B7 1px solid;
    background-color: #2574B7;
    color: #FFFFFF;
    text-align: center;
}

.stext
{
    color: #000000;
}

.otab
{
    border-right: #2574B7 1px solid;
    border-top: #2574B7 1px solid;
    border-left: #2574B7 1px solid;
    border-bottom: #2574B7 1px solid;
    background-color: #e1e1e1;
    color: #000000;
    text-align: center;
}

.otext
{
    color: #FFFFFF;
}

.tabsbottom
{
    width: 600px; 
    height: 4px;
}

.item2
{
   font-size: 12px;
   font-weight: bold;
   margin-top: -12px;
   margin-left: 40px;
}

.font9
{
    font-size: 9px;
}

.font10
{
    font-size: 10px;
}

.ml20
{
    margin-left:20px;
}

.nodisp
{
    display: none;
}

.hide
{
    visibility: hidden;
}

.wht 
{
   color: #FFFFFF
}

.bld
{
   font-weight: bold
}

.frame
{
    width: 600;
    height: 300;
    align: left;
}

.tableW
{
    width: 600;
}

.tableW1
{
    width: 100;
}

.tableW2
{
    width: 500;
}

.tab
{
    width: 100;
    text-decoration: none;
}

.lfa
{
    align: left;
}
    
    