/*
 * DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 * 
 * Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 * 
 * The contents of this file are subject to the terms of either the GNU
 * General Public License Version 2 only ("GPL") or the Common
 * Development and Distribution License("CDDL") (collectively, the
 * "License"). You may not use this file except in compliance with the
 * License. You can obtain a copy of the License at
 * http://www.netbeans.org/cddl-gplv2.html
 * or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 * specific language governing permissions and limitations under the
 * License.  When distributing the software, include this License Header
 * Notice in each file and include the License file at
 * nbbuild/licenses/CDDL-GPL-2-CP.  Sun designates this
 * particular file as subject to the "Classpath" exception as provided
 * by Sun in the GPL Version 2 section of the License file that
 * accompanied this code. If applicable, add the following below the
 * License Header, with the fields enclosed by brackets [] replaced by
 * your own identifying information:
 * "Portions Copyrighted [year] [name of copyright owner]"
 * 
 * Contributor(s):
 * 
 * The Original Software is NetBeans. The Initial Developer of the Original
 * Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 * Microsystems, Inc. All Rights Reserved.
 * 
 * If you wish your version of this file to be governed by only the CDDL
 * or only the GPL Version 2, indicate your decision by adding
 * "[Contributor] elects to include this software in this distribution
 * under the [CDDL or GPL Version 2] license." If you do not indicate a
 * single choice of license, a recipient has the option to distribute
 * your version of this file under either the CDDL, the GPL Version 2 or
 * to extend the choice of license to its licensees as provided above.
 * However, if you add GPL Version 2 code and therefore, elected the GPL
 * Version 2 license, then the option applies only if the new code is
 * made subject to such option by the copyright holder.
 */

body{
    font: 10pt Verdana, sans-serif;
    color: navy;
}
.category{
    cursor: pointer;
    display: block;        
}
.item{
    display: none;
    margin-left: 16px;
    color: #000000;
}
a{
    text-decoration: underline;
}

div#testres {
    height: 200px;
    width: 500px;
    overflow: auto;
}

div#navbar {
    height: 50px;
    width: 500px;
    overflow: auto;
}

div#request {
    width: 520px;
    overflow: auto;
}

.outerBorder {
    margin: 0px 20px 30px 20px;
    padding: 0 10px 10px 10px;
    width: 700px;
    overflow: auto;
}

.header {
    height:20%;
}

.subheader {
    clear:both;
    height: 30px;
    background-color: #54809D;
    color: #FFFFFF;
    font-size:11px;
}

.subheader div {
    float:right;
}

.main {
    position: relative;
    width: 100%;
}

.content {
    margin: 0 0 0 0px;
    background-color: #FFFFFF;
    color: #000000;
    width: 700px;
    overflow: auto;
}

.seperator {
    background-color: #E4EAF1;
}

.details {
    margin: 0 0 0 20px;
}

.leftSidebar {
    float: left; 
    width: 160px;
    height: 700px;
    font-size: 10px;
    background-color: #FFFFFF;
    color: #000000;
    overflow: scroll;
}

.banner {
    vertical-align:middle;
    font-size:25px;
    background-color: #54809D;
    color: #FFFFFF;  
    width: 100%;
}        

.tableheader {
    background-color: #54809D;
    color: #FFFFFF;
}
.results
{
    width: 720px;
}
.results .col
{
    width: 21%;
    float: left;
    margin-top: 0px;
}
.results .resultHeader
{
    background-color: #164A78;
    color: #FF9933;
    font-family: Arial, Verdana, Helvetica;
    font-size: 11px;
}
.results
{
    margin-left: 0%;
    border: 1px solid #e0e7ec;
    font-family: verdana, arial;
    background-color: #ffffff;
    cellpadding: 10px;
    font-size:12px;
}
.stab
{
    border-right: #2574B7 1px solid;
    border-top: #2574B7 1px solid;
    border-left: #2574B7 1px solid;
    border-bottom: #2574B7 1px solid;
    background-color: #2574B7;
    color: #FFFFFF;
    text-align: center;
}

.stext
{
    color: #000000;
}

.otab
{
    border-right: #2574B7 1px solid;
    border-top: #2574B7 1px solid;
    border-left: #2574B7 1px solid;
    border-bottom: #2574B7 1px solid;
    background-color: #e1e1e1;
    color: #000000;
    text-align: center;
}

.otext
{
    color: #FFFFFF;
}

a.tab {
  background-color: #d0b0ff;
  border: 2px solid #000000;
  border-bottom-width: 0px;
  border-color: #f0d0ff #b090e0 #b090e0 #f0d0ff;
  -moz-border-radius: .75em .75em 0em 0em;
  border-radius-topleft: .75em;
  border-radius-topright: .75em;
  padding: 2px 1em 2px 1em;
  position: relative;
  text-decoration: none;
  top: 3px;
  z-index: 100;
}

a.tab, a.tab:visited {
  color: #8060b0;
}

a.tab:hover {
  background-color: #a080d0;
  border-color: #c0a0f0 #8060b0 #8060b0 #c0a0f0;
  color: #ffe0ff;
}

a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
  background-color: #9070c0;
  border-color: #b090e0 #7050a0 #7050a0 #b090e0;
  color: #ffe0ff;
}

a.tab.activeTab {
  padding-bottom: 4px;
  top: 1px;
  z-index: 102;
}

.menu
{
    margin-top: 0px;
}

div.tabMain {
  background-color: #9070c0;
  border: 2px solid #000000;
  border-color: #b090e0 #7050a0 #7050a0 #b090e0;
  -moz-border-radius: 0em .5em .5em 0em;
  border-radius-topright: .5em;
  border-radius-bottomright: .5em;
  padding: .5em;
  position: relative;
  z-index: 101;
}

input.button {
  background-color: #9070c0;
  border-color: #b090e0 #7050a0 #7050a0 #b090e0;
  color: #ffe0ff;
}

div#tableContent {
    height: 200px;
    overflow: auto;
}

div#headerInfo {
    height: 200px;
    overflow: auto;
}

.item1
{
   margin-top: -12px;
   margin-left: 40px;
}

.item2
{
   font-size: 12px;
   font-weight: bold;
   margin-top: -12px;
   margin-left: 40px;
}

.font9
{
    font-size: 9px;
}

.font10
{
    font-size: 10px;
}

.ml20
{
    margin-left:20px;
}

.nodisp
{
    display: none;
}

.hide
{
    visibility: hidden;
}

.wht 
{
   color: #FFFFFF
}

.bld
{
   font-weight: bold
}

.frame
{
    background-color: #9070c0;
    border: 2px solid #000000;
    border-color: #b090e0 #7050a0 #7050a0 #b090e0;
    -moz-border-radius: 0em .5em .5em 0em;
    border-radius-topright: .5em;
    border-radius-bottomright: .5em;
    padding: .5em;
    position: relative;
    z-index: 101;
}

.defTab
{
    width: 100;
    text-decoration: none;
}
    
    