body{
    font: 10pt Verdana, sans-serif;
    color: navy;
}
.category{
    cursor: pointer;
    display: block;        
}
.item{
    display: none;
    margin-left: 16px;
    color: #000000;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: underline;
}

a:visited{
    font-weight: bolder;
}

.outerBorder {
    margin: 0px 20px 30px 20px;
    padding: 0 10px 10px 10px;
}

.header {
    height:20%;
}

.subheader {
    clear:both;
    height: 50px;
    background-color: #54809D;
    color: #FFFFFF;
    font-size:11px;
}

.subheader div {
    float:right;
}

.main {
    position: relative;
    width: 100%;
}

.content {
    margin: 0 0 0 0px;
    background-color: #E4EAF1;
    color: #000000;
    width: 700px;
}

.details {
    margin: 0 0 0 20px;
}

.leftSidebar {
    float: left; 
    width: 200px;
    height: 700px;
    font-size: 10px;
    //background-color: #D7DEE5;
    background-color: #E4EAF1;
    color: #000000;
}

.banner {
    vertical-align:middle;
    font-size:25px;
    background-color: #54809D;
    color: #FFFFFF;  
    width: 100%;
}        

.tableheader {
    background-color: #54809D;
    color: #FFFFFF;
}
.results
{
    width: 400px;
}
.results .col
{
    width: 20%;
    float: left;
    margin-top: 0px;
}
.results .resultHeader
{
    background-color: #164A78;
    color: #FF9933;
    font-family: Arial, Verdana, Helvetica;
    font-size: 11px;
}
.results
{
    margin-left: 0%;
    border: 1px solid #e0e7ec;
    font: verdana, arial;
}