@echo off

SET DRIVE=
SET LOGFILE=
SET JRE_INSTALLER_LOCATION=
SET JRE_MSI_PROJECT=replace by JRE MSI project
SET TMP=
SET TEMP=

%DRIVE%

cd %JRE_INSTALLER_LOCATION%

echo Installing JRE... > %LOGFILE%

if not exist %JRE_MSI_PROJECT% goto nosetup

start /w msiexec.exe /qn /i %JRE_MSI_PROJECT% IEXPLORER=1 MOZILLA=1

set EXITCODE=%ERRORLEVEL%

echo Finished Installing JRE... >> %LOGFILE%

goto end

:nosetup
	echo ERROR: jre installer not found >> %LOGFILE%
	exit 1
:end
	exit %EXITCODE%
