<%=render :partial=>"list" -%>
<%=render :partial => "list" -%> 
<li><%= link_to 'Overview',  :controller => '/admin/overview' %></li>
<li><%= link_to 'Account', :controller => 'users', :action => 'show', :id => current_user %></li>

