/*
 * __NAME__.java
 *
 * Created on __DATE__, __TIME__
 */

package Template.Classes;
import javax.management.*;

/**
 * Class __NAME__
 * {0}
 * @author __USER__
 */
public class __NAME__ implements __NAME__MXBean {

    public __NAME__(){
    }
}


