[Desktop Entry]
Exec=@absoluteInstallLocation@/bin/netbeans
Terminal=0
Type=Application
Icon=@absoluteInstallLocation@/nb4.1/netbeans.png
Categories=Application;Development;Java;IDE;
Name=NetBeans
Comment=Launches NetBeans IDE 4.1
Name[ja]=NetBeans
Comment[ja]=Launches NetBeans IDE 4.1
Name[zh]=NetBeans
Comment[zh]=Launches NetBeans IDE 4.1
