[Desktop Entry]
Exec="@absoluteInstallLocation@/bin/netbeans"
Terminal=0
Type=Application
Icon=@absoluteInstallLocation@/@nbClusterDir@/netbeans.png
Categories=Application;Development;Java;IDE;
Name=@desktopIconName@
Comment=Launches @productName@
Name[ja]=@desktopIconName@
Comment[ja]=Launches @productName@
Name[zh]=@desktopIconName@
Comment[zh]=Launches @productName@
