/* 
    Document   : ${name}
    Created on : ${date}, ${time}
    Author     : ${user}
*/

<#assign licenseFirst = "/*">
<#assign licensePrefix = "">
<#assign licenseLast = "*/">
<#include "${project.licensePath}">