/*
 * After modifying this style sheet, refresh the page being designed to see the effect of the modification.
 * Click the Refresh button in the Visual Designer toolbar to refresh the page.
 */ 

/* VehicleIncidentReportApplication custom stylesheet */
body {
   font-family: Verdana,Arial,Helvetica,sans-serif;
}

/* header */
.header {
   background-color: #F4F4EA;
   border: 1px dotted #CEC0C0;
   width: 100%;
   height: 200px;
}

.headergrid {
   height: 200px;
}

.logo {
   width:  200px;
   height: 200px;
   padding-left: 20px !important;
}

.logoimage {

}

.appnamegrid {
   height: 200px;
}

.appname {
   font-size: xx-large;
   text-transform: uppercase;
}

.appnamedark {
   color: #ACCB4C;
}

.appnamebar {
   color: #FEB300;
   padding-left: 20px;
   padding-right: 20px;
}

.appnamelight {
   color: #949585;
}

/* sub header */
.subheader {
   background-color: #FFFFFF;
   text-align: right;
   width: 100%;
   height: 20px;
   border: 1px dotted #CEC0C0;
}

.subheadertext {
   color: #FFFFFF !important;
   font-size: x-small !important;
   font-weight: bold !important;
   padding-left: 10px;
   padding-right: 10px;
}

.subheaderbutton {
   background-color: #A6C150;
}

.contents {
   background-color: #E9E9D1;
   border: 1px dotted #CEC0C0;
   width: 100%;
   height: 350px;

   vertical-align: top;
}

.formfieldlabel {
   font-weight: bold !important;
}

/* footer */
.footer {
   background-color: #F4F4EA;
   text-align: right;
   width: 100%;
   height: 20px;
   border: 1px dotted #CEC0C0;
}

.footertext {
   color: #949585 !important;
   font-size: x-small !important;
   font-weight: bold !important;
   padding-left: 10px;
   padding-right: 10px;
   border-left: 1px solid #FEB300;
}

.poweredby {
   color: #949585 !important;
   font-size: x-small !important;
}

.incident {
   color: red !important;
   font-size: large !important;
   font-weight: bold !important;
}

/* Style rules to make Java Server faces Standarad data tables look better */

.list-header {
  background-color: #eeeeee;
  font-size: larger;
  font-weight: bold;
}

.list-paging-header {
  background-color: white;
}

.list-paging-footer {
  background-color: white;
}

.list-row-even { 
}

.list-row-odd { 
  background-color: #eeeeee;
}

/* Style rules for message severity levels */

.infoMessage {
  color: black;
}

.warnMessage {
  color: orange;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.fatalMessage {
  color: red;
  font-style: italic;
  font-weight: bold;
}

