<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <servlet>
    <servlet-name>HelloWebServlet</servlet-name>
    <servlet-class>helloweb.HelloWebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWebServlet</servlet-name>
    <url-pattern>/HelloWebServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            index.jsp
        </welcome-file>
  </welcome-file-list>
  <service-ref>
    <service-ref-name>service/HelloService</service-ref-name>
    <service-interface>helloweb.HelloService</service-interface>
    <wsdl-file>WEB-INF/wsdl/HelloService.wsdl</wsdl-file>
    <jaxrpc-mapping-file>WEB-INF/HelloService-mapping.xml</jaxrpc-mapping-file>
    <port-component-ref>
      <service-endpoint-interface>helloweb.HelloServiceSEI</service-endpoint-interface>
    </port-component-ref>
  </service-ref>
</web-app>
