/*
 * __NAME__.java
 *
 * Created on __DATE__, __TIME__
 *
 * Note: To change this template, go to Tools | Options, and locate
 * the template under "Source Creation and Management". Right click
 * on the template and choose open. Edit in the editor and save.
 */

package Templates.Classes;

/**
 *
 * @author __USER__
 */
public @interface AnnotationType {

}
