<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE library PUBLIC "-//NetBeans//DTD Library Declaration 1.0//EN" "http://www.netbeans.org/dtds/library-declaration-1_0.dtd">
<library version="1.0">
    <name>spring-framework-2.5</name>
    <type>j2se</type>
    <localizing-bundle>org.netbeans.modules.spring.beans.resources.Bundle</localizing-bundle>
    <volume>
        <type>classpath</type>
        <resource>jar:nbinst://org.netbeans.modules.spring.beans/modules/ext/spring/commons-logging-1.1.jar!/</resource>
        <resource>jar:nbinst://org.netbeans.modules.spring.beans/modules/ext/spring/spring-2.5.jar!/</resource>
        <resource>jar:nbinst://org.netbeans.modules.spring.beans/modules/ext/spring/spring-webmvc-2.5.jar!/</resource>
    </volume>
    <volume>
        <type>src</type>
    </volume>
    <volume>
        <type>javadoc</type>
    </volume>
</library>
