// 
// File:   %<%NAME%>%.%<%EXTENSION%>%
// Author: %<%USER%>%
//
// Created on %<%DATE%>%, %<%TIME%>%
//

#include %<%QUOTES%>%%<%NAME%>%.h%<%QUOTES%>%

//
// Constructor
///
%<%NAME%>%::%<%NAME%>%()
{
}

//
// Destructor
//
%<%NAME%>%::~%<%NAME%>%()
{
}

