/* 
 * File:   %<%NAME%>%.%<%EXTENSION%>%
 * Author: %<%USER%>%
 *
 * Created on %<%DATE%>%, %<%TIME%>%
 */

#ifndef _%<%GUARD_NAME%>%
#define	_%<%GUARD_NAME%>%

class %<%CLASSNAME%>% {
public:
	%<%CLASSNAME%>%();
	virtual ~%<%CLASSNAME%>%();

protected:

private:

};

#endif	/* _%<%GUARD_NAME%>% */

