/* 
 * File:   %<%NAME%>%.%<%EXTENSION%>%
 * Author: %<%USER%>%
 * 
 * Created on %<%DATE%>%, %<%TIME%>%
 */

#include %<%QUOTES%>%%<%NAME%>%.%<%DEFAULT_HEADER_EXT%>%%<%QUOTES%>%

/*
 * Constructor
 */
%<%CLASSNAME%>%::%<%CLASSNAME%>%()
{
}

/*
 * Destructor
 */
%<%CLASSNAME%>%::~%<%CLASSNAME%>%()
{
}

