// 
// File:   %<%NAME%>%.%<%EXTENSION%>%
// Author: %<%USER%>%
//
// Created on %<%DATE%>%, %<%TIME%>%
//

#include <stdlib.h>

//
// 
//
int main(int argc, char** argv) {
    
    return (EXIT_SUCCESS);
}

