/* 
 * File:   %<%NAME%>%.h
 * Author: %<%USER%>%
 *
 * Created on %<%DATE%>%, %<%TIME%>%
 */

#ifndef _%<%GUARD_NAME%>%_H
#define	_%<%GUARD_NAME%>%_H

#ifdef	__cplusplus
extern "C" {
#endif




#ifdef	__cplusplus
}
#endif

#endif	/* _%<%GUARD_NAME%>%_H */

