/* 
 * File:   %<%NAME%>%.%<%EXTENSION%>%
 * Author: %<%USER%>%
 *
 * Created on %<%DATE%>%, %<%TIME%>%
 */

#include <stdio.h>
#include <stdlib.h>

/*
 * Simple C Test Suite
 */


void test1() {
    printf("%<%NAME%>% test 1\n");
}

int main(int argc, char** argv) {
    printf("%%SUITE_STARTING%% %<%NAME%>%\n");
    printf("%%SUITE_STARTED%%\n");

    printf("%%TEST_STARTED%% test1 (%<%NAME%>%)\n");
    test1();
    printf("%%TEST_FINISHED%% time=0 test1 (%<%NAME%>%) \n");

    printf("%%SUITE_FINISHED%% time=0\n");

    return (EXIT_SUCCESS);
}
