<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<p>t) Verify that commonly used functionality works. In this case its required, 
  dateFormatPattern, maxDate, minDate, and selectedDate. <a href="http://bt2ws.central.sun.com/CrPrint?id=6293871">E6293871</a> 
</p>
<p>i) Test steps:</p>
<ol>
  <li>Drag a basic &gt; button onto designer and label it submit</li>
  <li>Drag a basic &gt; message onto designer</li>
  <li>Drag a basic &gt; label onto designer and label it: Please select your birthdate.</li>
  <li>Drag a basic &gt; calendar onto designer.</li>
  <li>Link the message component to the calendar<br>
    It should update to say: Message summary for calendar 1</li>
  <li>Link the label component to the calendar</li>
  <li>Go to the Outline pane. Right click SessionBean1 and select Add &gt; Property</li>
  <li>Set the Name = maxDate and the type to java.util.Date, press OK</li>
  <li>Go to the Outline pane. Right click SessionBean1 and select Add &gt; Property</li>
  <li>Set the Name = minDate and the type to java.util.Date, press OK</li>
  <li>Go to the Outline pane. Right click SessionBean1 and select Add &gt; Property</li>
  <li>Set the Name = selectedDate and the type to java.util.Date, press OK</li>
  <li>Select Calendar on the designer and go to its properties.</li>
  <li>Go to dateFormatPattern property and press the ...</li>
  <li>Check-on the MM.dd.yyy format and press OK.</li>
  <li>Go to the maxDate property and press the ...<br>
    Select the #{SessionBean1.maxDate} and press OK.</li>
  <li>Go to the minDate property and press the ...<br>
    Select the #{SessionBean1.minDate} and press OK. </li>
  <li>Go to the Required property and set it to true<br>
    The label should show the * indicator</li>
  <li>Go to the selectedDate property and press the ...<br>
    Select the #{SessionBean1.selectedDate} and press OK. </li>
  <li>Select the Java tab of the designer and add the following import statement:<br>
    import java.util.Date; </li>
  <li>Scroll down to the init() method and add the following code:<br>
    getSessionBean1().setMaxDate(new Date());<br>
    getSessionBean1().setMinDate(new Date(01, 0, 1));<br>
    getSessionBean1().setSelectedDate(new Date(69, 7, 13));</li>
  <li>Ctrl-S to save</li>
  <li>Go back to designer<br>
  </li>
  <li>Deploy/run the application</li>
</ol>
<p>o) expected results</p>
<ol>
  <li>Label component should have a * indicator</li>
  <li>Calendar should appear with the default date of 08.13.1969</li>
  <li>Calendar help (under calendar) should show mm.dd.yyyy</li>
  <li>Opening the calendar should show it positioned on the date 08.13.1969</li>
  <li>Year dropdown range should be from 1901 to this current year</li>
  <li>Selection of a date (ie, 03.16.1955) should close the calendar and populate 
    the calendar text field.</li>
  <li>Pressing the submit button should render no errors.</li>
  <li>emptying the selected date and pressing the button should show: Validation 
    Error: value is requried and the lable should get bolded in red.</li>
</ol>
<p>&nbsp;</p>
</body>
</html>
