<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt">

<#if package?? && package != "">
package ${package};

import javax.jws.WebService;

</#if>
/**
 *
 * @author ${user}
 */

@WebService()
public class ${name} {

}
