/*
 * ident "%Z%%M% %I% %E% SMI"
 *
 * Copyright 2005 Sun Microsystems, Inc. All rights reserved.
 * Use is subject to license terms.
 * Version:2005_08_11_v1_bde-defaulttheme
 */

/* GLOBAL STYLES */
BODY, TH, TD, P, DIV, SPAN, INPUT, BUTTON, SELECT, TEXTAREA, FORM, B, STRONG, I, U, H1, H2, H3, H4, H5, H6, 
 DL, DD, DT, UL, LI, OL, OPTION, OPTGROUP, A {font-family:sans-serif;font-size:12px}
BODY {color:#000;background-color:#fff;margin:0px}
H1, H2, H3, H4, H5, H6 {font-weight:bold}
H1 {font-size:18px}
H2 {font-size:15px}
H5, H6 {font-size:11px}
a:link, a:visited {color:#035899;text-decoration:none}
a:hover {color:#035899;text-decoration:underline}
.ConMgn {margin:0px 10px}
.hidden {display:none}
.float {float:left}
/*---*/


/* ADDREMOVE [originalName: ADD-REMOVE-IDIOM]*/
/* [check overwrite classes on css_ie55up.css] */
.AddRmvLbl {color:#333}
.AddRmvLbl2 {color:#000}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.AddRmvLbl {font-weight:bold}
table.AddRmvBtnTbl .Btn1, table.AddRmvBtnTbl .Btn1Hov, table.AddRmvBtnTbl .Btn1Dis, table.AddRmvBtnTbl .Btn2, table.AddRmvBtnTbl .Btn2Hov, table.AddRmvBtnTbl .Btn2Dis {width:100%;margin:0px}
.AddRmvVrtFst {margin:5px 0px 10px 0px;min-width:90px}
.AddRmvVrtWin {margin:5px 0px 10px 5px;min-width:90px}
.AddRmvVrtBwn {margin:5px 0px 10px 10px;min-width:90px}
.AddRmvHrzWin {margin-top:3px;min-width:100px}
.AddRmvHrzBwn {margin-top:8px;min-width:100px}
.AddRmvHrzDiv {margin:5px 7px 10px 0px; float:left; display:inline-table}  
.AddRmvHrzLst {clear:both}
.AddRmvVrtBtn {width:120px}
/*---*/


/* ALERT [originalName: INLINE ALERTS]*/
/* [check overwrite classes on css_ie55up.css] */
.AlrtErrTxt, .AlrtWrnTxt, .AlrtInfTxt, .AlrtMsgTxt {color:#000}
a.AlrtLnk:link, a.AlrtLnk:visited {color:#035899;text-decoration:none}
a.AlrtLnk:hover {color:#035899;text-decoration:underline}
.AlrtTbl, .logErr .AlrtTbl {background-color:#FFF7D6;border:solid 1px #F3D596}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.AlrtErrTxt, .AlrtWrnTxt, .AlrtInfTxt {font-weight:bold;vertical-align:middle;font-size:14px;text-align:center}
.AlrtLnkDiv {padding-top:3px;text-align:left}
.AlrtTbl {margin-top:10px;padding:7px 15px}
.AlrtErrTxt img, .AlrtWrnTxt img {vertical-align:text-bottom;margin-right:6px}
.AlrtInfTxt img {vertical-align:middle;margin-right:6px}
.AlrtMsgTxt {padding-top:6px;text-align:left}
.logErr .AlrtTbl {padding:7px 15px;margin-left:15px;text-align:left}
/*---*/


/* BREADCRUMBS */
/* [css_ie55up.css: no overwrite classes for this component] */
.BcmWhtDiv {background-color:#FFF}
.BcmGryDiv {background-color:#D3E0EB}
a.BcmLnk:link, a.BcmLnk:visited {color:#032C50;text-decoration:none}
a.BcmLnk:hover {color:#032C50;text-decoration:underline}
.BcmTxt {color:#000}
.BcmSep {color:#000}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.BcmWhtDiv {margin:10px 10px 0px 10px}
.BcmGryDiv {padding:8px 10px 7px 10px}
.BcmTxt {font-weight:bold}
.BcmSep {margin:0px 5px;font-weight: bold}
/*---*/


/* BUTTONS */
/* [check overwrite classes on css_ie55up.css] */
.Btn1 {background-image:url(../images/button/primary-enabled.gif);background-color:#BAD7ED;color:#000;border-top:solid 1px #4982A3;border-left:solid 1px #266386;border-right:solid 1px #266386;border-bottom:solid 1px #026EA4}
.Btn1Hov {background-image:url(../images/button/primary-roll.gif);background-color:#C5E7FF;color:#000;border-top:solid 1px #499EC8;border-left:solid 1px #2686B6;border-right:solid 1px #2686B6;border-bottom:solid 1px #00192B}
.Btn1Mni {background-image:url(../images/button/primary-mini-enabled.gif);background-color:#BAD7ED;color:#000;border-top:solid 1px #4982A3;border-left:solid 1px #266386;border-right:solid 1px #266386;border-bottom:solid 1px #024368}
.Btn1MniHov {background-image:url(../images/button/primary-mini-roll.gif);background-color:#C5E7FF;color:#000;border-top:solid 1px #499EC8;border-left:solid 1px #2686B6;border-right:solid 1px #2686B6;border-bottom:solid 1px #026EA4}
.Btn2 {background-image:url(../images/button/secondary-enabled.gif);background-color:#D9E6EC;color:#000;border-top:solid 1px #6F787F;border-left:solid 1px #4E555A;border-right:solid 1px #4E555A;border-bottom:solid 1px #2D3235}
.Btn2Hov {background-image:url(../images/button/secondary-roll.gif);background-color:#EAF9FF;color:#000;border-top:solid 1px #6F97B2;border-left:solid 1px #4E7C9C;border-right:solid 1px #4E7C9C;border-bottom:solid 1px #2D6086}
.Btn2Mni {background-image:url(../images/button/secondary-mini-enabled.gif);background-color:#D9E6EC;color:#000;border-top:solid 1px #6F787F;border-left:solid 1px #4E555A;border-right:solid 1px #4E555A;border-bottom:solid 1px #2D3235}
.Btn2MniHov {background-image:url(../images/button/secondary-mini-roll.gif);background-color:#EAF9FF;color:#000;border-top:solid 1px #6F97B2;border-left:solid 1px #4E7C9C;border-right:solid 1px #4E7C9C;border-bottom:solid 1px #2D6086}
.Btn1Dis, .Btn2Dis, .Btn1MniDis, .Btn2MniDis {background-color:#E1E4E5;color:#848687;border:solid 1px #8C8E8F}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.Btn1, .Btn1Hov, .Btn1Mni, .Btn1MniHov, .Btn2Mni, .Btn2MniHov, .Btn2, .Btn2Hov {background-repeat:repeat-x;background-position:center center}
.Btn1, .Btn1Hov, .Btn1Dis, .Btn2, .Btn2Hov, .Btn2Dis {font-size:12px;padding:1px 8px}
.Btn1, .Btn1Hov, .Btn1Dis, .Btn1Mni, .Btn1MniHov, .Btn1MniDis, .Btn2, .Btn2Hov, .Btn2Dis, .Btn2Mni, .Btn2MniHov, .Btn2MniDis {margin:0px 2px 0px 1px}
.Btn1Mni, .Btn1MniHov, .Btn1MniDis, .Btn2Mni, .Btn2MniHov, .Btn2MniDis {font-size:10px;padding:0px 5px}
.Btn1Hov, .Btn1MniHov, .Btn2Hov, .Btn2MniHov {cursor:pointer}
/* for arrays where buttons need to be of equal width */
.BtnTbl .Btn1, .BtnTbl .Btn1Hov, .BtnTbl .Btn1Dis, .BtnTbl .Btn2, .BtnTbl .Btn2Hov, .BtnTbl .Btn2Dis {width:100%;margin:0px}
.BtnAryDiv {margin:5px 8px}
/*revised borders for masthead  */
.MstDiv .Btn1, .MstDiv .Btn1Mni {border-top:solid 1px #213F52;border-left:solid 1px #142A38;border-right:solid 1px #142A38;border-bottom:solid 1px #091821;vertical-align:middle}
.MstDiv .Btn1Hov, .MstDiv .Btn1MniHov {border-top:solid 1px #213F52;border-left:solid 1px #142A38;border-right:solid 1px #142A38;border-bottom:solid 1px #091821;vertical-align:middle}
.MstDiv .Btn2, .MstDiv .Btn2Mni {border-top:solid 1px #2D3C46;border-left:solid 1px #1C262D;border-right:solid 1px #1C262D;border-bottom:solid 1px #0E1418;vertical-align:middle}
.MstDiv .Btn2Hov, .MstDiv .Btn2MniHov {border-top:solid 1px #2D3C46;border-left:solid 1px #1C262D;border-right:solid 1px #1C262D;border-bottom:solid 1px #0E1418;vertical-align:middle}
/*---*/


/*CALENDAR*/
/* [check overwrite classes on css_ie55up.css] */
/* Selectors on Existing Date-Time Styles */
.CalPopDiv  a.DatCurLnk:link, a.DatCurLnk:visited {color:#035899;background-color:#fff;text-decoration:none;border:solid 1px #fff}
.CalPopDiv  a.DatCurLnk:hover {text-decoration:underline}
.CalPopDiv  a.DatLnk:link, a.DatLnk:visited {color:#035899;background-color:#fff;text-decoration:none;border:solid 1px #fff}
.CalPopDiv  a.DatLnk:hover {text-decoration:underline}
.CalPopDiv a.DatBldLnk:link, a.DatBldLnk:visited {color:#035899;background-color:#F4F5BE;border:solid 1px #F4F5BE;text-decoration:none}
.CalPopDiv a.DatBldLnk:hover {text-decoration:underline}
.CalPopDiv a.DatOthLnk:link, a.DatOthLnk:visited {color:#035899;background-color:#EFEFEF;text-decoration:none;border:solid 1px #EFEFEF}
.CalPopDiv a.DatOthLnk:hover {text-decoration:underline;border:solid 1px #EFEFEF}
.CalPopDiv a.DatOthBldLnk:link, a.DatOthBldLnk:visited {color:#035899;background-color:#EFEFEF;border:solid 1px #EFEFEF;text-decoration:none}
.CalPopDiv a.DatOthBldLnk:hover {text-decoration:underline}
.CalPopDiv .DatSelDiv {background-image:url(../images/calendar/calpop_title_grad.gif);background-repeat:repeat-x;background-color:#E8EDF1;border:solid 1px #C0C2C1;background-position:3px 3px}
.CalPopDiv .DatCalDiv {background-color:#E6EBEF;border:1px solid #C0C2C1;border-top:none}
.CalPopDiv .DatDayHdrTxt {color:#333}
.CalPopDiv .DatCalTbl {border-left:1px solid #BACBDB;border-right:1px solid #BACBDB}
.CalPopDiv .DatCalTbl td {border:1px solid #BCCBD5}
.CalPopDiv .DatCalTbl th {border-bottom:1px solid #BCCBD5;border-left:none;border-right:none;border-top:1px solid #AEAFAF;background-color:#E5EBF0}
/*Styles Specific to the PopUpCalendar*/
/* <RAVE> Remove dropshadow b/c of gecko bugs
.CalPopShd2Div {background-image:url(../images/calendar/calpop_dropshadow.jpg);background-position:bottom right;background-repeat:no-repeat}
</RAVE> */
.CalPopDiv .MnuJmp {background-color:#F5F7F9}
.CalPopDiv .MnuJmp option {background-color:#F5F7F9}
.CalPopDiv .DatCalTbl td.CalPopFtr {border:none}
.CalPopDiv .CalPopFtrDiv {background-image:url(../images/calendar/calpop_footer_grad.gif);background-repeat:repeat-x;background-color:#EEF1F4;border:none;background-position:bottom left}
.CalPopDiv .CurDayTxt {color:#333}
.CalPopDiv a.CalPopClsLnk:link, .CalPopDiv a.CalPopClsLnk:active {text-decoration:none;font-size:9px;color:#333;border:1px solid #A8B8C3;}
.CalPopDiv a.CalPopClsLnk:hover {text-decoration:underline}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.CalPopDiv  a.DatCurLnk:link, a.DatCurLnk:visited {display:block;font-weight:bold;padding:4px 0px 2px}
.CalPopDiv  a.DatLnk:link, a.DatLnk:visited {display:block;padding:4px 0px 2px}
.CalPopDiv a.DatBldLnk:link, a.DatBldLnk:visited {display:block;font-weight:bold;padding:4px 0px 2px}
.CalPopDiv a.DatOthLnk:link, a.DatOthLnk:visited {display:block;padding:4px 0px 2px}
.CalPopDiv a.DatOthBldLnk:link, a.DatOthBldLnk:visited {display:block;font-weight:bold;padding:4px 0px 2px}
.CalPopDiv .DatSelDiv {text-align:center;padding:4px 6px 5px 4px}
.CalPopDiv .DatSelDiv input {padding-top:0px}
.CalPopDiv .DatSelDiv select {margin:0px 1px}
.CalPopDiv .DatCalDiv {text-align:center;padding:0px 0px 0px 1px}
.CalPopDiv .DatDayHdrTxt {font-weight:bold;padding:2px 0px;display:block}
.CalPopDiv .DatCalTbl {border-collapse:collapse}
.CalPopDiv .DatCalTbl td {width:25px}
.CalPopDiv .DatCalTbl th {width:25px;padding-top:2px}
/*Styles Specific to the PopUpCalendar*/
.CalPopShdDiv {display:none;position:absolute;z-index:1000}
/* <RAVE> Remove dropshadow b/c of gecko bugs
.CalPopShdDiv {display:none;position:absolute;padding:8px 0px 0px 7px;z-index:1000}
.CalPopShd2Div {display:block;position:relative;float:left}
.CalPopDiv {display:block;position:relative;float:left;top:-8px;left:-7px}
</RAVE> */
.CalPopDiv .MnuJmp {font-size:11px}
.CalPopDiv .MnuJmp option {font-size:11px}
.CalPopDiv .DatCalTbl td.CalPopFtr {width:auto}
.CalPopDiv .CalPopFtrDiv {float:left;width:100%}
.CalPopDiv .CurDayTxt {float:left;clear:right;font-weight:normal;padding:4px 0px 4px 4px;font-size:10px}
.CalPopDiv a.CalPopClsLnk {float:right;margin:3px 2px 3px 0px;padding:1px 2px;font-size:9px;color:#333;border:1px solid #A8B8C3}
.CalPopFldLbl {display:block;margin-right:8px;padding-top:3px}
.CalPopFldImg img {margin-left:5px}
/* <RAVE> Override pluto portal server rule */
.CalRootTbl { width: auto }
/* </RAVE> */


/* CHECKBOXES AND RADIO BUTTONS */
/* [css_ie55up.css: no overwrite classes for this component] */
/*.CbDis, .RbDis {background-color:#e4e4e4;color:#999}*/
.CbDis, .RbDis {background-color:#E1E4E5;color:#848687}
.Cb {}
.Rb {}
.RbSpn input {vertical-align: 1px}
.CbSpn input {vertical-align: -1px}
.CbGrp td, .RbGrp td {text-align: left}
.CbGrp label, .RbGrp label {vertical-align: 6px}
/*---*/


/* HELPINLINE [originalName: INLINE HELP]*/
/* [css_ie55up.css: no overwrite classes for this component] */
.HlpPgeTxt, .HlpFldTxt {color:#000}
a.HlpPgeLnk:link, a.HlpPgeLnk:visited, a.HlpFldLnk:link, a.HlpFldLnk:visited {color:#035899;text-decoration:none}
a.HlpPgeLnk:hover, a.HlpFldLnk:hover {color:#035899;text-decoration:underline}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.HlpFldTxt {font-size:11px;padding-top:2px}
a.HlpFldLnk:link, a.HlpFldLnk:visited, a.HlpFldLnk:hover {font-size:11px}
/*---*/


/* LABEL [originalName: GENERIC FIELD LABELS]*/
/* [css_ie55up.css: no overwrite classes for this component] */
.LblLev1Txt{color:#000000}
.LblLev2Txt, .LblLev3Txt, .LblLev2smTxt {color:#333333}
.LblRqdDiv {color:#000}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.LblLev1Txt {font-size:16px}
.LblLev2smTxt {font-size:11px}
.LblLev1Txt, .LblLev2Txt, .LblLev2smTxt {font-weight:bold}
/*---*/


/* LISTS */
/* [css_ie55up.css: no overwrite classes for this component] */
/* Regular List */
.Lst {border-bottom-color:#666;border-right-color:#666}
.Lst, .LstOpt, .LstOptSel, .LstOptGrp {color:#000}
.LstOptSep, .LstOptDis {color:#848687}
/* Contextual Selector for Disabled Appearance */
.LstDis {border-bottom-color:#666;border-right-color:#666}
.LstDis, .LstDis option, .LstDis .LstOptGrp {background-color:#E1E4E5;color:#848687}
/* Monospace Version */
.LstMno {border-bottom-color:#666;border-right-color:#666}
.LstMno, .LstMno .LstOptGrp {color:#000}
/* Contextual Selector for Disabled Monospace Version */
.LstMnoDis, .LstMnoDis option, .LstMnoDis .LstOptGrp {background-color:#E1E4E5;color:#848687}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
/* Regular List */
.LstOptGrp {font-weight:normal;font-style:normal}
/* Contextual Selector for Disabled Appearance */
.LstDis .LstOptGrp {font-weight:normal;font-style:normal}
/* Monospace Version */
.LstMno, .LstMno option, .LstMno .LstOptGrp {font-family:monospace}
.LstMno .LstOptGrp {font-weight:normal;font-style:normal}
/* Contextual Selector for Disabled Monospace Version */
.LstMnoDis, .LstMnoDis option, .LstMnoDis .LstOptGrp  {font-family:monospace}
.LstMnoDis .LstOptGrp {font-weight:normal;font-style:normal}
.LstAln {vertical-align:top;padding-right:5px} 
/*---*/


/* MENUS */
/* [css_ie55up.css: no overwrite classes for this component] */
.MnuJmpOptGrp, .MnuStdOptGrp {color:#000}
.MnuStdOpt, .MnuStdOptSel, .MnuStd {color:#333}
.MnuJmpOptSep, .MnuJmpOptDis, .MnuStdOptSep, .MnuStdOptDis, .MnuJmpDis, .MnuStdDis {color:#848687}
.MnuJmp {color:#035899;border-bottom-color:#666;border-right-color:#666}
.MnuJmpDis, .MnuStdDis {background-color:#E1E4E5;color:#848687}
.MnuJmpOpt, .MnuJmpOpt:hover {color:#035899}
.MnuJmpOpt:hover {text-decoration:underline}
.MnuStd {border-bottom-color:#666;border-right-color:#666}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.MnuJmpOptSel {font-weight:normal}
.MnuJmpOptGrp, .MnuStdOptGrp {font-weight:normal;font-style:normal}
/*---*/


/* MESSAGE AND MESSAGE GROUPS */
/* [check overwrite classes on css_ie55up.css] */
.MsgFldSumTxt {color:#C00}
.MsgFldTxt {color:#C00}
.MsgGrpTbl {border-left:solid 1px #C00;border-right:solid 1px #C00;border-bottom:solid 1px #C00;border-top:none}
.MsgGrpTbl td {background-color:#FAEDED}
.MsgGrpTblTtl {color:#000;background-color:#FAEDED;border-top:solid 1px #C00;border-left:solid 1px #C00;border-right:solid 1px #C00}
.MsgGrpDiv ul {color:#C00;list-style-type:square}
.MsgGrpSumTxt {color:#000}
.MsgGrpTxt {color:#333}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.MsgFldSumTxt {font-weight:bold}
.MsgGrpTbl td {padding: 4px 10px 4px 10px}
.MsgGrpTblTtl {text-align:left;font-weight:bold;padding:8px 10px 0px;margin-top:15px;font-size:14px}
.MsgGrpDiv {margin:0px}
.MsgGrpDiv ul {padding:0px 10px 0px 18px;margin:6px 0px}
.MsgGrpSumTxt {display:block;font-weight:normal;padding-bottom:2px}
.MsgGrpTxt {display:block;padding-bottom:3px}
.MsgInfo {color: black;}
.MsgWarn {color: orange;font-weight: bold;}
.MsgError {color: red;font-weight: bold;}
.MsgFatal {color: red;font-style: italic;font-weight: bold;}
.MsgGrpInfo {color: black;}
.MsgGrpWarn {color: orange;font-weight: bold;}
.MsgGrpError {color: red;font-weight: bold;}
.MsgGrpFatal {color: red;font-style: italic;font-weight: bold;}
/*---*/


/* MINI-TABS */
/* [css_ie55up.css: no overwrite classes for this component] */
.MniTabDiv {background-color:#B9D0E1; background-image:url(../images/tabs/minitab_background.jpg)}
table.MniTabTbl td {background-color:#B9D0E1;border:solid 1px #6E7F90;background-image:url(../images/tabs/minitab_deselect.jpg);border-bottom:none}
a.MniTabLnk:link,a.MniTabLnk:visited {color:#000;text-decoration:none}
a.MniTabLnk:hover {text-decoration:underline}
.MniTabSelTxt {color:#000;text-decoration:none}
table.MniTabTbl td.MniTabTblSelTd {background-color:#FFFFFF;border-left:solid 1px #6E7F90;border-right:solid 1px #6E7F90;border-top:solid 1px #6E7F90; background-image:url(../images/tabs/minitab_selected.jpg);border-bottom:none}
.MniTabDiv td.hidden {display:none}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.MniTabDiv {background-repeat:repeat-x;background-position:left top;padding:6px 0px 0px 10px}
table.MniTabTbl {border-collapse:collapse}
table.MniTabTbl td {background-repeat:repeat-x;background-position:left top}
a.MniTabLnk:link,a.MniTabLnk:visited {display:block;padding:5px 15px 4px;font-size:12px}
.MniTabSelTxt {display:block;padding:5px 15px 4px;font-size:12px;text-decoration:none}
table.MniTabTbl td.MniTabTblSelTd {border-bottom:none;background-repeat:repeat-x;background-position:left top}
/*---*/


/* MINI-TABS - LIGHTWEIGHT */
/* [css_ie55up.css: no overwrite classes for this component] */
.TabGrp {}
.TabGrp .TabGrpBox {border:1px solid #6E7F90;border-top:none;padding:10px}
.TabGrp .MniTabDiv {background-color:transparent;background-position:left bottom;background-image:url(../images/tabs/minitab_lt_background.jpg)}
.TabGrp table.MniTabTbl td {border-bottom:solid 1px #6E7F90}
.TabGrp table.MniTabTbl td.MniTabTblSelTd {border-bottom:none}
.TabGrp a.MniTabLnk:link, .TabGrp a.MniTabLnk:visited {padding:4px 10px 3px}
.TabGrp .MniTabSelTxt {padding:4px 10px 3px}
.TabGrp .MniTabDiv td.hidden {display:none}
/*---*/


/* PAGEALERT [originalName: FULL ALERTS]*/
/* [css_ie55up.css: no overwrite classes for this component] */
.FulAlrtHdrTxt, .FulAlrtMsgTxt {color:#000} 

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.FulAlrtHdrDiv {margin:7px 10px 5px 37px}
.FulAlrtHdrTxt {font-weight:bold} 
.FulAlrtMsgDiv {margin:5px 10px 0px 37px}
.FulAlrtFrmDiv {margin:10px 10px 5px 37px}
/*---*/

/* PAGESEPARATOR */
/* [css_ie55up.css: no overwrite classes for this component] */
.TtlLin {background-color:#d0d7da}


/* PROGRESS BAR */
/* [check overwrite classes on css_ie55up.css] */
.PrgOutBar, .Tbl .PrgOutBar {background-color:#fff;border:solid 1px #5A8EC6}
.PrgInBar {background-color:#95BFDF}
.PrgInBarBak {background-color:#f2f3f4}
.PrgBarMsgTxt, .PrgBarPctTxt, .PrgBarBtnDiv, .PrgStpSubTtlTxt, .PrgStpTxt, .PrgStpCurTxt, .PrgStpLft, .PrgStpBdy, .PrgStpBtn {color:#000}
/* progress dialog with steps */
.PrgStpMst {background-color:#E4F3FA}
.PrgStpTtl {background-color:#E4F3FA}
.PrgStpLft, .PrgStpBdy, .PrgStpBtn, .PrgStpTbl {background:#fff}
.PrgStpBdy, .PrgStpBtnDiv {border-left:#CCC 1px solid}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.PrgOutBar {position:relative;height:14px;margin-top:10px}
.Tbl .PrgOutBar {position:relative;height:14px;margin:-1px 0px 2px}
.PrgInBar {position:absolute;top:1px;left:1px;height:12px;font-size:1px}
.PrgInBarBak {position:absolute;top:1px;left:1px;height:12px;font-size:1px}
.PrgBarMsgTxt, .PrgBarPctTxt, .PrgBarBtnDiv {margin-top:10px}
.PrgBarLog, .PrgBarCb {margin-top:20px}
.PrgBarDtlLbl {margin:15px 0px 3px}
.PrgBarDtlLst {margin:0px}
.PrgBarBtnTbl td {padding-right:15px}
/* progress dialog with steps */
.PrgStpMst {position:fixed;width:100%;height:55px}
.PrgStpTtl {position:fixed;width:100%;height:36px;top:55px;right:0;bottom:auto;left:0}
.PrgStpLft {position:fixed;width:30%;height:auto;top:91px;bottom:41px;overflow:auto;padding-top:15px}
.PrgStpBdy {position:fixed;width:70%;height:auto;top:91px;right:0px;bottom:41px;left:30%;overflow:auto}
.PrgStpBtn {position:fixed;height:auto;top:auto;right:0px;bottom:0px;left:0px;padding:0px 10px}
.PrgStpBtnDiv {text-align:right;padding:10px 0px}
.PrgStpSubTtlDiv {padding:12px 0px 0px 10px}
.PrgStpSubTtlTxt {font-weight:bold;font-size:15px}
.PrgStpNumDiv {margin:0px 5px 20px 22px}
.PrgStpArwDiv {margin:0px 5px 20px 1px}
.PrgStpTxtDiv {margin:0px 10px 20px 0px}
.PrgStpTxt {font-weight:normal}
.PrgStpCurTxt {font-weight:bold;vertical-align:top}
.PrgStpTtl .TtlTxtDiv {margin:8px 0px 5px 10px} 
.PrgStpTtl .TtlBtnDiv {margin:8px 10px 5px 10px} 
/*---*/

/* PROPERTYPAGE [originalName: CONTENT-PROPERTIES PAGES]*/
/* [check overwrite classes on css_ie55up.css] */
.ConLin {border-right:solid 10px #FFF;background-color:#d0d7da}
.ConFldSetLgdDiv, .ConFldSetLgd {color:#333}
.ConSubSecTtlTxt, .ConDefTxt, .ConRqdTxt {color:#333}
.ConErrLblTxt {color:#C00}
.ConWrnLblTxt {color:#C00}
a.JmpLnk:link, a.JmpLnk:visited {color:#035899;text-decoration:none;vertical-align:top}
a.JmpLnk:hover {color:#035899;text-decoration:underline;vertical-align:top}
a.JmpTopLnk:link, a.JmpTopLnk:visited {color:#035899;text-decoration:none}
a.JmpTopLnk:hover {color:#035899;text-decoration:underline}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.ConFldSet {}
.ConFldSetLgd {}
.ConFldSetDiv {margin:7px 10px 0px}
.ConFldSetLgdDiv {font-size:16px;font-weight:bold;margin-bottom:10px}
.ConSubSecTtlTxt {margin:15px 0px 0px 15px;font-size:16px;font-weight:bold}
.ConSubSecDiv {padding:0px 10px 5px 0px}
.ConTblCl1Div {margin:8px 10px 0px 15px}
.ConTblCl2Div {margin:7px 10px 0px 0px}
.ConEmbTblCl1Div {margin:6px 10px 0px 30px}
.ConEmbTblCl2Div {margin:3px 10px 0px 0px}
.ConJmpScnDiv {margin:8px 10px 0px 0px}
.ConJmpLnkDiv {margin:7px 25px 0px 26px;text-indent:-16px}
.ConRqdDiv {text-align:right;margin:5px 10px 5px 0px}
.ConJmpTopDiv {margin:15px 10px 15px 10px}
.ConErrLblTxt, .ConWrnLblTxt {font-weight:bold}
.ConEmbTblCl1Div input[type=checkbox], .ConEmbTblCl1Div input[type=radio] {margin-left:-5px;vertical-align:middle}
div.ConTblCl2Div input, div.ConTblCl2Div select {vertical-align:middle} 
/*---*/

/* SKIP NAVIGATION LINK */
/* [css_ie55up.css: no overwrite classes for this component] */
.SkpWht {background-color:#FFF}
.SkpMedGry1 {background-color:#2E435A}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.SkpWht, .SkpMedGry1 {height:0px}
/*---*/


/* TABLE [originalName: ACTION TABLE] */
/* [check overwrite classes on css_ie55up.css] */
table.Tbl {background-color:#E7F2F7;color:#000;border:solid 1px #999}
table.Tbl td, table.Tbl th {border:solid 1px #999;background-color:#fff}
/* Table Caption/Title */
caption.TblTtlTxt {background-color:#8AB1C2;color:#000;background-image:url(../images/table/table_titlebar_gradient.jpg);border-right:solid 1px #999;border-left:solid 1px #999;border-top:solid 1px #999}
caption.TblTtlTxt span.TblTtlMsgSpn {color:#000}
/* Action Bar */
table.Tbl td.TblActTd {background-color:#E7F2F7} 
table.Tbl td.TblActTdLst {background-color:#E7F2F7} 
.TblActLbl, .TblPgnTxt {color:#000}
/* Selection Column - Headers */
table.Tbl th.TblColHdrSel {border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#E7F2F7}
table.Tbl th.TblColHdrSrtSel {background-color:#D1DADD;border-top:1px solid #999;border-left:1px solid #999;border-bottom:solid 1px #999; background-image:url(../images/table/column_hdr_sort_gradient.gif)}
table.Tbl th.TblColHdrSel a.TblHdrLnk:link, th.TblColHdrSel a.TblHdrLnk:visited, th.TblColHdrSel a.TblHdrLnk:hover   {background-color:#fff;text-decoration:none}
table.Tbl th.TblColHdrSrtSel a.TblHdrImgLnk:link, th.TblColHdrSrtSel a.TblHdrImgLnk:visited {color:#035899;text-decoration:none;border-left:1px solid #C7C8CA}
table.Tbl th.TblColHdrSrtSel a.TblHdrImgLnk:hover {color:#035899}
table.Tbl th.TblColHdrSrtSel a.TblHdrLnk:link, table.Tbl th.TblColHdrSrtSel a.TblHdrLnk:visited {color:#000;text-decoration:none}
table.Tbl th.TblColHdrSel a.TblHdrLnk:link {background-image:url(../images/table/column_hdr_gradient.gif)}
table.Tbl th.TblColHdrSel a.TblHdrLnk:visited {background-image:url(../images/table/column_hdr_gradient.gif)}
table.Tbl th.TblColHdrSel a.TblHdrLnk:hover {background-image:url(../images/table/column_hdr_hov_gradient.gif)}
table.Tbl th.TblColHdrSrtSel a.TblHdrImgLnk:hover {background-image:url(../images/table/column_hdr_sort_hov_gradient.gif)}
table.Tbl th.TblColHdrSrtSel a.TblHdrLnk:hover {background-image:url(../images/table/column_hdr_sort_hov_gradient.gif)}
/* Selection Column - Cells */
table.Tbl td.TblTdSel {background-color:#fff}
table.Tbl td.TblTdSrtSel {background-color:#DBE3E7}
/* Regular Column Headers */
table.Tbl th.TblColHdr {border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#E7F2F7}
table.Tbl .TblHdrTxt {background-color:#E7F2F7;color:#000;text-decoration:none;background-image:url(../images/table/column_hdr_gradient.gif)}
table.Tbl a.TblHdrLnk:link, table.Tbl a.TblHdrLnk:visited {background-color:#E7F2F7;background-position:left bottom;color:#000;text-decoration:none; background-image:url(../images/table/column_hdr_gradient.gif)}
table.Tbl a.TblHdrLnk:hover {color:#000;text-decoration:underline;background-color:#E7F2F7; background-image:url(../images/table/column_hdr_hov_gradient.gif)}
table.Tbl a.TblHdrImgLnk:link, table.Tbl a.TblHdrImgLnk:visited {background-color:#E7F2F7;color:#035899;text-decoration:none;border-left:1px solid #D0DBDF; background-image:url(../images/table/column_hdr_gradient.gif)}
table.Tbl a.TblHdrImgLnk:hover {color:#035899; background-image:url(../images/table/column_hdr_hov_gradient.gif)}
/* Current Sort Column */
table.Tbl th.TblColHdrSrt {border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#D1DADD; background-image:url(../images/table/column_hdr_sort_gradient.gif)}
table.Tbl th.TblColHdrSrt a.TblHdrLnk:link, table.Tbl th.TblColHdrSrt a.TblHdrLnk:visited {color:#000;text-decoration:none}
table.Tbl th.TblColHdrSrt a.TblHdrLnk:hover {color:#000;text-decoration:underline;background-image:url(../images/table/column_hdr_sort_hov_gradient.gif)}
table.Tbl th.TblColHdrSrt a.TblHdrImgLnk:link, th.TblColHdrSrt a.TblHdrImgLnk:visited {color:#035899;text-decoration:none;border-left:1px solid #C7C8CA}
table.Tbl th.TblColHdrSrt a.TblHdrImgLnk:hover {color:#035899; background-image:url(../images/table/column_hdr_sort_hov_gradient.gif)}
table.Tbl span.TblColHdrSrtDis {color:#000;text-decoration:none;border-left:1px solid #C7C8CA}
table.Tbl span.TblColHdrSelDis {background-color:#fff;color:#000;text-decoration:none;border-left:1px solid #D0DBDF; background-image:url(../images/table/column_hdr_gradient.gif)}
/*Multi-column Headers */
table.Tbl th.TblMultColHdr {border-top:none;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#E7F2F7;padding:0px;margin:0px;vertical-align:bottom}
.TblMultHdrTxt {color:#000;font-weight:bold}
table.Tbl th.TblMultHdr {border-bottom:none;background-color:#E7F2F7;border-top:1px solid #999;border-left:1px solid #999;text-align:center;padding:4px 5px}
table.Tbl th.TblMultColHdr a.TblHdrLnk:link, table.Tbl th.TblMultColHdr a.TblHdrLnk:visited {font-weight:normal;color:#000;text-decoration:none;border-top:none}
table.Tbl th.TblMultColHdr .TblHdrTxt {font-weight:normal}
table.Tbl th.TblMultColHdr a.TblHdrLnk:link img, table.Tbl th.TblMultColHdr a.TblHdrLnk:visited img, table.Tbl th.TblMultColHdr .TblHdrTxt img, table.Tbl th.TblMultColHdrSrt a.TblHdrLnk:link img, table.Tbl th.TblMultColHdrSrt a.TblHdrLnk:visited img {margin:1px 0px}
table.Tbl th.TblMultColHdr a.TblHdrLnk:hover {text-decoration:underline;border-top:none}
table.Tbl th.TblMultColHdrSrt {border-top:none;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#DFE7EB;background-image:url(../images/table/mult_column_hdr_sort_gradient.gif);padding:0px;margin:0px;vertical-align:bottom;background-repeat:repeat-x}
table.Tbl th.TblMultColHdrSrt a.TblHdrLnk:link, table.Tbl th.TblMultColHdrSrt a.TblHdrLnk:visited {font-weight:normal;background:none;color:#000;text-decoration:none}
table.Tbl th.TblMultColHdrSrt a.TblHdrLnk:hover {color:#000;text-decoration:underline; background-image:url(../images/table/column_hdr_sort_hov_gradient.gif)}
table.Tbl th.TblMultColHdrSrt a.TblHdrImgLnk:link, table.Tbl th.TblMultColHdrSrt a.TblHdrImgLnk:visited {background:none;color:#035899;text-decoration:none;border-left:1px solid #C7C8CA}
table.Tbl th.TblMultColHdrSrt a.TblHdrImgLnk:hover {color:#035899; background-image:url(../images/table/column_hdr_sort_hov_gradient.gif)}
/* Sorted Cells */
table.Tbl .TblColFtrSpc {border-left:none;background-color:#fff;border-top:3px double #999} 
table.Tbl .TblTdSrt {background-color:#DBE3E7}
/* Spacer Colums */
table.Tbl th.TblTdSpc {border-top:1px solid #81939B;border-left:none;background-color:#fff} 
/* Alarm Cells */
table.Tbl .TblTdAlm, table.Tbl .TblTdSrtAlm {background-color:#FFFCD9}
/*Other Table Content Styles*/
table.Tbl a:link, table.Tbl a:visited {color:#035899;text-decoration:none}
table.Tbl a:hover {color:#035899;text-decoration:underline}
table.Tbl .TblMsgTxt {color:#000}
/* Mouseover and Row Selection Styles */
table.Tbl tr.TblSelRow td, table.Tbl tr.TblSelRow th {background-color:#F4F5BE}
/*Table Sub-Grouping */
table.Tbl .TblGrpRow {background-color:#DEE8F1;background-image:url(../images/table/grouprow_gradient.jpg);border-top:3px double #999}
.TblGrpTxt {color:#000;text-decoration:none}
table.Tbl .TblGrpLft input {margin:2px 1px 1px 2px}
.TblGrpTxt {color:#000;font-weight:bold;margin:0px 3px}
table.Tbl .TblGrpLft {float:left}
table.Tbl .TblGrpCbImg img {margin-left:-4px;margin-bottom:-3px}
table.Tbl .TblGrpRt {float:right}
table.Tbl .TblGrpMsgTxt {color:#000}
/* Table Footers */
/* Table Column-level Footer */
table.Tbl .TblColFtr {background-color:#fff;border-top:3px double #999} 
table.Tbl .TblColFtrSrt {background-color:#DBE3E7;border-top:3px double #999}
table.Tbl .TblColFtrTxt {color:#000}
/* Table Overall Footer */ 
table.Tbl .TblFtrLft {color:#000}
table.Tbl td.TblFtrRow {background-color:#E7F2F7}
table.Tbl .TblFtrRowTxt {color:#000}
/*Table Group Column-Level Footer */
table.Tbl .TblGrpColFtr {background-color:#fff}
table.Tbl .TblGrpColFtrSrt {background-color:#DBE3E7}
table.Tbl .TblGrpColFtrTxt {color:#000}
/* Table Group Overall Footer */
table.Tbl .TblGrpFtrRow {background-color:#E9F2F5}
table.Tbl .TblGrpFtrRowTxt {color:#000}
/* Embedded Table Panels */
table.Tbl td.TblPnlTd {background-color:#E7F2F7}
.TblPnlLytDiv {}
.TblPnlShd3Div {border-bottom:solid 1px #E1EAF1}
.TblPnlShd2Div {border-right:solid 1px #E1EAF1;border-bottom:solid 1px #D5DDE4}
.TblPnlShd1Div {border-right:solid 1px #D5DDE4;border-bottom:solid 1px #CFD8DC}
.TblPnlDiv {background-color:#F4F5EE;border:1px solid #ACBBC7}
.TblPnlTtl {color:#000}
.TblCstFltMnu {background-color:#658BA3;color:#FFF;border-bottom-color:#666;border-right-color:#666}
.TblCstFltMnu option {background-color:#658BA3;color:#FFF;border-bottom-color:#666;border-right-color:#666}


/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
table.Tbl {width:100%;empty-cells:show;border-collapse:collapse;padding:0px}
.TblMgn {margin:0px 10px}
table.Tbl td, table.Tbl th {padding:3px 5px 1px 5px}
table.Tbl th {font-weight:normal}
/* Table Caption/Title */
caption.TblTtlTxt {background-repeat:repeat-x;background-position:left top;text-align:left;padding:3px 10px 5px 7px;font-weight:bold;font-size:14px;margin-left:-1px}
caption.TblTtlTxt span {font-weight:bold;font-size:14px}
caption.TblTtlTxt span.TblTtlTxtSpn {float:left;font-weight:bold;font-size:14px}
caption.TblTtlTxt span.TblTtlMsgSpn {float:right;font-weight:normal;font-size:12px;margin-top:1px}
/* Action Bar */
table.Tbl td.TblActTd {border-bottom:none;padding:6px;vertical-align:middle} 
table.Tbl td.TblActTdLst {border-bottom:none;padding:6px;vertical-align:middle} 
.TblActLbl {font-weight:bold}
.TblPgnTxtBld {margin:0px 5px 0px 10px}
.TblPgnTxt {margin:0px 3px 0px 3px}
.TblPgnLftBtn {margin:0px}
.TblPgnRtBtn {margin-right:10px}
.TblPgnGoBtn {margin-right:8px}
/* Selection Column - Headers */
table.Tbl th.TblColHdrSel {vertical-align:bottom;padding:0px}
table.Tbl th.TblColHdrSrtSel {text-align:center;background-repeat:repeat-x;background-position:left top;border-right:none;padding:0px;vertical-align:bottom}
table.Tbl th.TblColHdrSel a.TblHdrLnk:link {display:block;background-repeat:repeat-x;background-position:left bottom;padding:3px 0px}
table.Tbl th.TblColHdrSel a.TblHdrLnk:visited {display:block;background-repeat:repeat-x;background-position:left bottom;padding:3px 0px}
table.Tbl th.TblColHdrSel a.TblHdrLnk:hover {background-repeat:repeat-x;background-position:left bottom}
table.Tbl th.TblColHdrSrtSel a.TblHdrImgLnk:link, th.TblColHdrSrtSel a.TblHdrImgLnk:visited {background:none;display:block;text-align:left;font-weight:bold;padding-bottom:1px;width:21px}
table.Tbl th.TblColHdrSrtSel a.TblHdrImgLnk:hover {background-repeat:repeat-x;background-position:left bottom;width:21px}
table.Tbl th.TblColHdrSrtSel a.TblHdrLnk:link, th.TblColHdrSrtSel a.TblHdrLnk:visited {background:none;display:block;padding:3px 0px 2px}
table.Tbl th.TblColHdrSrtSel a.TblHdrLnk:hover {background-repeat:repeat-x;background-position:left bottom}
/* Selection Column - Cells */
table.Tbl td.TblTdSel, table.Tbl td.TblTdSrtSel {text-align:center;vertical-align:top;padding:0px 3px}
/* Regular Column Headers */
table.Tbl th.TblColHdr {vertical-align:bottom;padding:0px}
.TblHdrTxt {display:block;background-repeat:repeat-x;background-position:left bottom;font-weight:bold;padding:4px 5px 3px;min-height:12px}
table.TblHdrTbl {background:none;width:100%;border:none}
table.TblHdrTbl td {border:none;padding:0px;vertical-align:bottom;background:none;width:100%}
table.TblHdrTbl img {margin-bottom:3px;padding-right:5px;padding-left:5px}
table.Tbl a.TblHdrLnk:link, a.TblHdrLnk:visited {display:block;background-repeat:repeat-x;background-position:left bottom;font-weight:bold;padding:3px 5px 3px 5px}
table.Tbl a.TblHdrLnk:hover {font-weight:bold;background-repeat:repeat-x;background-position:left bottom}
table.Tbl a.TblHdrImgLnk:link, a.TblHdrImgLnk:visited {display:block;background-repeat:repeat-x;background-position:left bottom;white-space:nowrap;padding:4px 2px 2px 0px;width:21px}
table.Tbl a.TblHdrImgLnk:hover {white-space:nowrap;background-repeat:repeat-x;background-position:left bottom;width:21px}
table.Tbl a.TblHdrImgLnk img {padding-right:2px}
/* Current Sort Column */
table.Tbl th.TblColHdrSrt {vertical-align:bottom;padding:0px;background-repeat:repeat-x;background-position:left top}
table.Tbl th.TblColHdrSrt table.TblHdrTbl {background:none;width:100%;border:none}
table.Tbl th.TblColHdrSrt a.TblHdrLnk:link, table.Tbl th.TblColHdrSrt a.TblHdrLnk:visited  {background:none;display:block;font-weight:bold;padding:4px 5px 3px 5px}
table.Tbl th.TblColHdrSrt a.TblHdrLnk:hover {background-image:url(../images/table/column_hdr_sort_hov_gradient.gif);font-weight:bold;background-repeat:repeat-x;background-position:left bottom}
table.Tbl th.TblColHdrSrt a.TblHdrImgLnk:link, table.Tbl th.TblColHdrSrt a.TblHdrImgLnk:visited {background:none;display:block;font-weight:bold;border-left:1px solid #C7C8CA;padding-bottom:1px;width:21px}
table.Tbl th.TblColHdrSrt a.TblHdrImgLnk:hover {background-image:url(../images/table/column_hdr_sort_hov_gradient.gif);background-repeat:repeat-x;background-position:left bottom}
table.Tbl .TblHdrSrtNum {font-size:9px;font-weight:normal;margin-left:-1px;width:21px}
table.Tbl span.TblColHdrSrtDis {background:none;display:block;text-align:left;padding:0px 2px 0px 0px}
table.Tbl span.TblColHdrSrtDis img, table.Tbl span.TblColHdrSelDis img {padding-right:2px}
table.Tbl span.TblColHdrSelDis {display:block;;background-repeat:repeat-x;background-position:left bottom;white-space:nowrap;padding:4px 2px 2px 0px;width:21px}
/* Sorted Cells */
table.Tbl .TblColFtrSpc {padding:4px 5px 1px 5px} 
/* Spacer Colums */
table.Tbl th.TblTdSpc {vertical-align:bottom;padding:0px;border-left:none}
table.Tbl td.TblTdSpc {border-left:none}
/* Alarm Cells */
/*Other Table Content Styles*/
table.Tbl .TblTdLyt img, table.Tbl .TblTdSrt img, table.Tbl .TblTdAlm img,  table.Tbl .TblTdSrtAlm img {vertical-align:middle;margin-bottom:2px}
table.Tbl .TblTdSel img, table.Tbl .TblTdSrtSel img {vertical-align:middle;margin:3px 0px 0px 8px}
.TblTdLyt {} 
/* Mouseover and Row Selection Styles */
table.Tbl tr.TblHovRow td {}
table.Tbl tr.TblHovRow th {}
/*Table Sub-Grouping */
table.Tbl .TblGrpRow {background-repeat:repeat-x;background-position:left top;vertical-align:bottom;min-height:12px;padding:6px 6px 3px}
.TblGrpTxt {font-weight:bold}
/* Table Footers */
/* Table Column-level Footer */
table.Tbl .TblColFtr {padding:4px 5px 1px 6px} 
.TblColFtrTxt {font-weight:bold}
/* Table Overall Footer */ 
table.Tbl td.TblFtrRow {padding:6px 6px 3px;border-top:none;border-bottom:none;vertical-align:middle;text-align:center}
table.Tbl .TblFtrRowTxt {font-weight:bold}
table.Tbl .TblFtrLft {float:left;font-weight:bold}
table.Tbl .TblFtrMsgSpn {float:right}
/*Table Group Column-Level Footer */
.TblGrpColFtrTxt {font-weight:bold}
/* Table Group Overall Footer */
table.Tbl .TblGrpFtrRow {padding:4px 6px 3px}
.TblGrpFtrRowTxt {font-weight:bold}
/* Embedded Table Panels */
table.Tbl td.TblPnlTd {border-top:none;border-right:none;border-bottom:none;padding:0px 0px 0px 6px;vertical-align:middle}
.TblPnlLytDiv {display:none;padding:4px 0px}
.TblPnlShd3Div {margin-bottom:10px;float:left}
.TblPnlDiv {padding:10px 15px 10px;min-width:250px}
table.Tbl div.TblPnlDiv td {background:transparent;border:none;padding-left:0px}
.TblPnlTtl {font-size:14px;font-weight:bold;padding:2px 0px 5px}
.TblPnlCnt {background:none}
.TblPnlBtnDiv {text-align:right;padding-top:10px;margin-right:3px}
.TblPnlHlpTxt {padding-top:10px;white-space:normal;font-size:11px;max-width:350px}
.TblPnlSrtTbl td {padding:3px}
/* For when appearing in titledbox*/
.TtldBoxInrDiv .TblMgn {margin:0px}
/*---*/

/* LIGHTWEIGHT TABLE DESIGN */
/* [check overwrite classes on css_ie55up.css] */
table.TblLt {background-color:#fff;color:#000;width:100%;padding:0px;border:none;empty-cells:show;border-collapse:collapse}
table.TblLt td {border:solid 1px #999;padding:3px 5px 1px 5px;background-color:#fff}
table.TblLt th {border:solid 1px #999;padding:3px 5px 1px 5px;background-color:#fff;font-weight:normal}
/* Table Caption/Title */
table.TblLt caption.TblTtlTxt {text-align:left;color:#5F6466;padding:5px 5px 5px 0px;font-weight:bold;font-size:12px;border:none;background:none}
table.TblLt caption.TblTtlTxt span {font-weight:bold;font-size:12px}
table.TblLt caption.TblTtlTxt span.TblTtlTxtSpn {float:left;font-weight:bold;font-size:12px}
table.TblLt caption.TblTtlTxt span.TblTtlMsgSpn {float:right;font-weight:normal;font-size:12px;color:#5F6466;margin-top:1px}
/* Action Bar */
table.TblLt td.TblActTd {background-color:#DEEAF6;padding:8px 5px;vertical-align:middle;background-image:url(../images/table/lite_actionbar_gradient.jpg);background-repeat:repeat-x;background-position:left top;border:solid 1px #999}
table.TblLt td.TblActTdLst {background-color:#B6C8D4;padding:5px 5px;vertical-align:middle;background-image:url(../images/table/lite_actionbar_bot_gradient.jpg);background-repeat:repeat-x;background-position:left top;border:solid 1px #999}
/* Selection Column - Headers */
table.TblLt th.TblColHdrSel {border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#DEEAF6}
table.TblLt th.TblColHdrSrtSel {border-top:1px solid #999;border-left:1px solid #999;border-bottom:solid 1px #999; background-image:url(../images/table/lite_column_hdr_sort_gradient.jpg)}
table.TblLt th.TblColHdrSel a.TblHdrLnk:link {background-color:#DEEAF6;background-image:url(../images/table/lite_column_hdr_gradient.jpg);background-position:left bottom}
table.TblLt th.TblColHdrSel a.TblHdrLnk:visited {background-color:#DEEAF6;background-image:url(../images/table/lite_column_hdr_gradient.jpg);background-position:left bottom}
table.TblLt th.TblColHdrSel a.TblHdrLnk:hover {background-image:url(../images/table/lite_column_hdr_hov_gradient.jpg);background-position:left bottom}
table.TblLt th.TblColHdrSrtSel a.TblHdrLnk:link, table.TblLt th.TblColHdrSrtSel a.TblHdrLnk:visited {background:none;background-color:transparent}
table.TblLt th.TblColHdrSrtSel a.TblHdrImgLnk:link, table.TblLt th.TblColHdrSrtSel a.TblHdrImgLnk:visited {background:none;background-color:transparent}
table.TblLt th.TblColHdrSrtSel a.TblHdrImgLnk:hover {background-image:url(../images/table/lite_column_hdr_sort_hov_gradient.jpg);background-position:left top}
table.TblLt th.TblColHdrSrtSel a.TblHdrLnk:hover {background-image:url(../images/table/lite_column_hdr_sort_hov_gradient.jpg);background-position:left top}
/* Regular Column Headers */
table.TblLt th.TblColHdr {border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#DEEAF6}
table.TblLt table.TblHdrTbl td {border:none;padding:0px;margin:0px;vertical-align:bottom;background:none;width:100%}
table.TblLt a.TblHdrLnk:link, table.TblLt a.TblHdrLnk:visited {background-color:#DEEAF6;background-position:left bottom;color:#333;text-decoration:none; background-image:url(../images/table/lite_column_hdr_gradient.jpg);background-position:left bottom;padding:5px 5px 3px;min-height:12px}
table.TblLt a.TblHdrLnk:hover {color:#000;text-decoration:underline;background-color:#E5F6FF; background-image:url(../images/table/lite_column_hdr_hov_gradient.jpg);background-position:left bottom}
table.TblLt a.TblHdrImgLnk:link, table.TblLt a.TblHdrImgLnk:visited {background-color:#DEEAF6;color:#035899;text-decoration:none;border-left:1px solid #DBE0E3; background-image:url(../images/table/lite_column_hdr_gradient.jpg);background-position:left bottom}
table.TblLt a.TblHdrImgLnk:hover {color:#035899; background-image:url(../images/table/lite_column_hdr_hov_gradient.jpg);background-position:left bottom;background-color:#E5F6FF}
table.TblLt span.TblColHdrSelDis {background-color:#DEEAF6;color:#000;text-decoration:none;border-left:1px solid #DBE0E3; background-image:url(../images/table/lite_column_hdr_gradient.jpg);background-position:left bottom}
table.TblLt .TblHdrTxt {background-color:#DEEAF6;color:#000;text-decoration:none;background-image:url(../images/table/lite_column_hdr_gradient.jpg);background-position:left bottom}
/* Current Sort Column */
table.TblLt th.TblColHdrSrt {border-top:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#D2D8D8; background-image:url(../images/table/lite_column_hdr_sort_gradient.jpg)}
table.TblLt th.TblColHdrSrt a.TblHdrLnk:hover {color:#000;text-decoration:underline; background-image:url(../images/table/lite_column_hdr_sort_hov_gradient.jpg);background-color:#D3D8DB}
table.TblLt th.TblColHdrSrt a.TblHdrImgLnk:link, table.Tbl th.TblColHdrSrt a.TblHdrImgLnk:visited {color:#336699;text-decoration:none;border-left:1px solid #C7C8CA}
table.TblLt th.TblColHdrSrt a.TblHdrImgLnk:hover {color:#035899; background-image:url(../images/table/lite_column_hdr_sort_hov_gradient.jpg);background-color:#D3D8DB}
/* Multi-Column Headers */
table.TblLt th.TblMultColHdr {border-top:none;border-left:1px solid #999;border-bottom:1px solid #999;background-color:#DEEAF6;padding:0px;margin:0px;vertical-align:bottom}
table.TblLt th.TblMultHdr {border-bottom:none;background-color:#DEEAF6;border-top:1px solid #999;border-left:1px solid #999;text-align:center;padding:4px 5px}
/*Table Sub-Grouping */
table.TblLt .TblGrpRow {background-color:#DEE8F1;border-left:1px solid #999;border-bottom:1px solid #999;border-top:3px double #999; background-image:url(../images/table/lite_grouprow_gradient.jpg);background-position:top left;padding:4px 5px 3px}
/* Table Footers */ 
table.TblLt td.TblFtrRow {padding:6px 5px 3px;border:none;background-color:#fff;vertical-align:middle;text-align:center;border-left:none;border-right:none}
table.TblLt .TblFtrRowTxt {font-weight:normal;color:#5F6466}
table.TblLt .TblColFtr {border-bottom:1px solid #999;border-top:3px double #999;background-color:#fff} 
table.TblLt .TblColFtrSrt {background-color:#e5e9ed;border-bottom:1px solid #999;border-top:3px double #999}
table.TblLt .TblColFtrSpc {border-left:none;border-bottom:1px solid #999;border-top:3px double #999;background-color:#fff} 
/* Embedded Table Panels */
table.TblLt td.TblPnlTd {padding-left:10px}
/*---*/


/* TABSET [originalName: LEVEL TABS]*/
/* [css_ie55up.css: no overwrite classes for this component] */
/* LEVEL 1 TABS */
.Tab1Div {background-color:#D3E0EB;background-image:url(../images/tabs/level1_background.jpg)}
a.Tab1Lnk:link, a.Tab1Lnk:visited  {color:#000;text-decoration:none}
a.Tab1Lnk:hover {text-decoration:underline}
.Tab1Div td {background-color:#A0B7CC;border:solid 1px #6E7F90;background-image:url(../images/tabs/level1_deselect.jpg)}
.Tab1Div td.Tab1TblSpcTd {background-color:#B0D0E7; background-image:url(../images/tabs/level1_background.jpg)}
.Tab1Div div.Tab1SelTxtNew {color:#000}
.Tab1Div td.Tab1TblSelTd {background-color:#EDF5F8; background-image:url(../images/tabs/level1_selected.jpg)}
table.Tab1TblNew td.Tab1TblSelTd {background-color:#FFF; background-image:url(../images/tabs/level1_selected-1lev.jpg)}
/* LEVEL 2 TABS */
.Tab2Div {background-color:#B9D0E1; background-image:url(../images/tabs/level2_background.jpg)}
a.Tab2Lnk:link, a.Tab2Lnk:visited{color:#000;text-decoration:none}
a.Tab2Lnk:hover {text-decoration:underline}
.Tab2Div td {background-color:#BBD5E3;border-left:solid 1px #6E7F90;border-right:solid 1px #6E7F90;border-top:solid 1px #6E7F90;border-bottom:none; background-image:url(../images/tabs/level2_deselect.jpg)}
.Tab2Div div.Tab2SelTxt {color:#000}
.Tab2Div td.Tab2TblSelTd {background-color:#E5F2F7;border-left:solid 1px #6E7F90;border-right:solid 1px #6E7F90;border-top:solid 1px #6E7F90; background-image:url(../images/tabs/level2_selected.jpg)}
/* LEVEL 3 TABS*/
.Tab3Div {background-color:#D2E1EC; background-image:url(../images/tabs/level3_background.gif)}
a.Tab3Lnk:link,a.Tab3Lnk:visited {color:#000;text-decoration:none}
a.Tab3Lnk:hover {text-decoration:underline}
.Tab3Div td {border-bottom:solid 1px #CDE1F0}
.Tab3Div div.Tab3SelTxt {color:#000}
.Tab3Div td.Tab3TblSelTd {border-left:solid 1px #6E7F90;border-right:solid 1px #6E7F90;border-top:1px solid #6E7F90;background-color:#FFF; background-image:url(../images/tabs/level3_selected.jpg)}
/* Hide Styles */
.Tab1Div td.hidden, .Tab2Div td.hidden, .Tab3Div td.hidden {display:none}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
/* LEVEL 1 TABS */
.Tab1Div {background-repeat:repeat-x;background-position:left bottom;padding:6px 10px 0px} 
a.Tab1Lnk:link, a.Tab1Lnk:visited  {display:block;padding:8px 15px 7px;font-weight:bold;text-align:center}
.Tab1Div table {border-collapse:collapse}
.Tab1Div td {background-repeat:repeat-x;background-position:left top}
.Tab1Div td.Tab1TblSpcTd {background-repeat:repeat-x;background-position:left top;border:none}
.Tab1Div td.Tab1TblSelTd {background-repeat:repeat-x;background-position:left top;border-bottom:none}
.Tab1Div div.Tab1SelTxtNew {display:block;padding:8px 15px 7px;font-weight:bold;text-align:center}
.Tab1Div td a.TabPad {padding:8px 20px 7px}
.Tab1Div td.Tab1TblSelTd div.TabPad {padding:8px 20px 7px}
/* LEVEL 2 TABS */
.Tab2Div {background-repeat:repeat-x;background-position:left top;padding:6px 0px 0px 10px}
a.Tab2Lnk:link, a.Tab2Lnk:visited{display:block;padding:5px 15px 4px;text-align:center}
.Tab2Div table {border-collapse:collapse}
.Tab2Div td {background-repeat:repeat-x;background-position:left top}
.Tab2Div div.Tab2SelTxt {display:block;padding:5px 15px 4px;font-weight:normal;text-align:center}
.Tab2Div td.Tab2TblSelTd {border-bottom:none;background-repeat:repeat-x;background-position:left top}
.Tab2Div td a.TabPad {padding:5px 20px 4px}
.Tab2Div td.Tab2TblSelTd div.TabPad {padding:5px 20px 4px}
/* LEVEL 3 TABS*/
.Tab3Div {padding:6px 0px 0px 10px;background-repeat:repeat-x;background-position:left top}
a.Tab3Lnk:link,a.Tab3Lnk:visited {display:block;padding:4px 15px 3px;text-align:center}
.Tab3Div div.Tab3SelTxt {font-weight:normal;padding:4px 15px 3px;text-align:center}
.Tab3Div td.Tab3TblSelTd {border-bottom:none;background-repeat:repeat-x;background-position:left top}
.Tab3Div td a.TabPad {padding:5px 20px 4px}
.Tab3Div td.Tab3TblSelTd div.TabPad {padding:5px 20px 4px}
/*---*/


/*TITLED BOX*/
/* [check overwrite classes on css_ie55up.css] */
.TtldBoxOutDiv{margin:0px}
.TtldBoxTtlDiv {margin:0px}
.TtldBoxTtlDiv table {background-image:url(../images/titledbox/titledbox_title_grad.jpg);background-repeat:repeat-x;background-position:left top;background-color:#688AB8;border-bottom: 1px solid #3C5983;padding: 2px 3px 0px 10px}
.TtldBoxTtlTxt {font-weight:bold;color: #233D6F;padding:4px 5px 2px 0px}
.TtldBoxTtlImg img {margin:1px 0px 1px 7px}
.TtldBoxSepDiv {background-image:url(../images/titledbox/titledbox_box_grad.jpg);background-repeat:repeat-x;background-position:left top;border-left:solid 1px #D9D9DB;border-right:solid 1px #D9D9DB;height:12px;font-size:8px}
.TtldBoxInrDiv {padding:5px 10px 10px;border-left:solid 1px #CACED1;border-right:solid 1px #CACED1;border-bottom:solid 1px #CACED1;margin-bottom:15px}
.TtldBoxInrHltDiv{background-image:url(../images/titledbox/titledbox_hilightbox_grad.jpg);background-repeat:repeat-x;background-position:left top;padding:20px 10px 10px;border-left:solid 1px #CACED1;border-right:solid 1px #CACED1;border-bottom:solid 1px #CACED1;margin-bottom:15px;background-color:#F5F5BF;margin-bottom:15px}
.TtldBoxMnu {border:solid 1px #88969F;float:left;clear:both;-moz-opacity:0.9;position:absolute;background-color:#FFFFFF;padding:15px 0px;display:none}
.TtldBoxMnuSep {margin:2px 10px;color:#000;font-weight:bold;background-image:url(../images/titledbox/titledbox_mnu_sep.gif);background-repeat:repeat-x;background-position:center center}
a.TtldBoxMnuLnk:link, a.TtldBoxMnuLnk:visited {display:block;color:#30649D;padding:2px 20px 2px 50px;font-weight:bold;text-decoration:none; white-space:nowrap}
a.TtldBoxMnuLnk:hover {color:#FFFFFF;background-color:#4677B1;text-decoration:none}
a.TtldBoxMnuMdlLnk:link, a.TtldBoxMnuMdlLnk:visited {display:block;color:#30649D;padding:2px 20px 2px 0px;font-weight:bold;text-decoration:none; white-space:nowrap}
a.TtldBoxMnuMdlLnk:hover {color:#FFFFFF;background-color:#4677B1;text-decoration:none}
a.TtldBoxMnuMdlLnk:link img, a.TtldBoxMnuMdlLnk:visited img, a.TtldBoxMnuMdlLnk:hover img {margin:1px 18px 0px}
/*---*/



/* TEXT AND PASSWORD FIELDS */
/* [css_ie55up.css: no overwrite classes for this component] */
.TxtFld {}
.TxtFldDis {background-color:#E1E4E5;color:#848687}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.TxtFld, .TxtFldDis {padding-left:2px}
/*---*/


/* TEXTAREAS */ 
/* [css_ie55up.css: no overwrite classes for this component] */
.TxtAra {}
.TxtAraDis {background-color:#E1E4E5;color:#848687}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.TxtAra, .TxtAraDis {padding-left:2px}
/*---*/


/* TREE */
/* [css_ie55up.css: no overwrite classes for this component] */
.TreBdy {margin:0px}
.Tree {background-color:#fff}
.TreTtl {color:#000;font-weight:bold}
a.TreeLink:link, a.TreeLink:visited {color:#035899;text-decoration:none}
a.TreeLink:hover {color:#035899;text-decoration:underline}
a.TreeParentLink:link, a.TreeParentLink:visited {color:#035899;text-decoration:none;font-weight:bold}
a.TreeParentLink:hover {color:#035899;text-decoration:underline;font-weight:bold}
a.TreeSelLink:link, a.TreeSelLink:visited {color:#000;text-decoration:none;font-weight:bold}
a.TreeSelLink:hover {color:#000;text-decoration:underline;font-weight:bold}
.TreeRootRow, .TreeRootRowHeader {background-color:#D3E0EB}
.TreeSelRow {background-color:#F4F5BE}
.TreeSelText {color:#000;font-weight:bold}

/*<<<<<<<<<<<<<<<<<<<<------------>>>>>>>>>>>>>>>>>>>>*/
.TreeImg {padding-top:2px;padding-bottom:1px}
.TreeImgHeight {display:inline;line-height:22px}
.TreeContent {display:inline;vertical-align:middle;padding-left:5px}
.TreeLinkSpace {margin-left:3px}
.TreeRootRow {height:26px}
.TreeRootRowHeader {height:4px}
.TreeRow {white-space:nowrap;clear:both}
.TreeRow .float {padding-left:5px}
.TreeRootRow .float {padding-left:7px}
.TreeSelRow .float {padding-left:5px}
/*---*/
