<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<p>t) Verify that component uploads the file and the statistics are shown correctly 
  (<a href="http://bt2ws.central.sun.com/CrPrint?id=5100175">E5100175</a>)</p>
<p>i) Steps</p>
<ol>
  <li>new project</li>
  <li>drag a basic &gt; static text on to the designer and label it 'Download 
    a File', set the style/font to something large.</li>
  <li>drag a basic &gt; file Upload component onto the designer and label it 'Select 
    a File: ' <b>(Skip label due to bug!)</b></li>
  <li>drag a basic &gt; button onto designer and label it 'Upload File Now'</li>
  <li>drag a basic &gt; textArea on to designer, and label it 'Contents of File:', 
    set the columns to 60 and the rows to 5.</li>
  <li>drag a basic &gt; messge Group onto the designer<br>
  </li>
  <li>double click the button and add the following source <b>(merge: com.sun.web.ui.model.UploadedFile;)</b><br>
    <br>
    <font face="Courier New, Courier, mono">UploadedFile uploadedFile = (UploadedFile) 
    fileUpload1.getUploadedFile();<br>
    info(&quot;Uploaded file originally named '&quot; +<br>
    uploadedFile.getOriginalName() +<br>
    &quot;' of size '&quot; +<br>
    uploadedFile.getSize() +<br>
    &quot; ' &quot; );<br>
    textArea1.setText(uploadedFile.getAsString());</font><br>
    <br>
  </li>
  <li>Right click and do Fix Imports</li>
  <li>deploy/run the application</li>
  <li>browse and select a file 
    <ol>
      <li>Be sure to test files with space in path, space in name, as well as 
        ones without.<br>
      </li>
      <li>The src folder under this folder contains a series of files that can 
        be used.</li>
    </ol>
  </li>
  <li>press the Upload File Now button</li>
</ol>
<p>o) expected results</p>
<ol>
  <li>The textArea should display the contents of the file.</li>
  <li>The message group should display the name and size of the file.</li>
  <li>Repeat at least 2 times</li>
  <li><b>Note for manual testers!: Be sure to test when fileUpload has a lable, 
    and when it doesn't. 6366690</b></li>
</ol>
<p><font color="#990000">On the EA forum, 2 users have reported, and I have verified, 
  that file1.getUploadedFile() returns null when using IE. </font><font color="#990000">I 
  know it isn't on your radar yet (because of Gregory's list) but when it is you 
  might want to check it out.</font></p>
<p><font color="#990000">Logged as 6330658.</font></p>
<p></p>
</body>
</html>
