/*
 * ide.css      11/20/2001
 *
 * Copyright 2009 Sun Microsystems, Inc. All rights reserved.
 * Use is subject to license terms.
 *
 * Use only with JH1.1.2 or later release.
 * DO NOT USE WITH JavaHelp 1.1.1.  This CSS triggers a printing 
 * bug with JH1.1.1 that causes printing of multiple blank pages..  
 *
 * Changes:
 * Sept. 2001
 * <p> now has margin-top and margin-bottom = 5, instead of margin-top = 10.
 * <h2>, <h3>, and <h4> now use margin-top = 10 instead of margin-top = 15.
 * Oct. 2001
 * For table, td, and th tags, border-color changed to silver, a light gray color.
 * Margin for <ol> changed to 14 to match <ul> margin.
 * Nov. 2001
 * Added <small> tag for accessibility purposes. 
 */

body  {font-size: small;
    font-family: SansSerif, Arial, Helvetica, sans-serif;
    margin-left: 5;
    margin-right: 5;
    color: Black;
    background-color: White}

p  {font-size: small;
     margin-top: 5;
     margin-bottom: 5}


h2 { font-size: large;
     font-weight: bold;
     margin-top: 10;
     margin-bottom: 5}

h3 { font-size: medium;
     font-weight: bold;
     margin-top: 10;
     margin-bottom: 5}

h4 { font-size: small;
     font-weight: bold;
     margin-top: 10;
     margin-bottom: 5}

ol {margin-top: 5;
     margin-bottom: 0;
     margin-left: 14}

li {margin-top: 0;
    margin-bottom: 5}
        
li p{margin-top: 5;
        margin-bottom: 0}

ul {margin-top: 5;
    margin-bottom: 0;
    margin-left: 14}
        
table {border-style: solid;
       border-color: silver;
       margin-top: 5;
       margin-bottom: 5}

td {border-style: solid;
    border-color: silver;
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1}

th {border-style: solid;
    border-color: silver;
    padding-left: 1;
    padding-right: 1;
    padding-top: 1;
    padding-bottom: 1}

small {font-size: x-small}
