/* -------- DIRECT STYLES FOR TAGS-----------*/
body {
   color: #333333; padding:0px; margin:0px;
   font-size: 0.7em;
   font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
   height:500px;
}
body.blue-bg {
   background-color:#b4dae0;
   background-image:url('/images/v6/body-bg.png');background-repeat:repeat-x;
}
h1 {
   font-size: 1.6em;color: #D20106;font-weight : normal;padding:0px;margin:0px 0px 10px 0px;
   text-align:left;
}

h1.light {
   padding:0px;margin:0px 0px 10px 0px;
   text-align:left;
   color:#868585;
}
h1 A:link:hover, h1 A:visited:hover  {
   font-weight:bold;
}

h2 {
   font-size: 1.45em;color: #EE6B00;  font-weight : normal; padding:5px 0px 2px 0px;margin:0px 0px 5px 0px;
   border-bottom:1px solid #D1d1d1; text-align:left;
}

h2 tt { color: #EE6B00; }  
h1 tt { color: #D20106; }
h3 tt { color: #2D3F8E; }

h3 {
   font-size: 1.3em;color: #2D3F8E; font-weight : normal; padding:10px 0px 3px 0px;margin:0px;
   text-align:left;
} 
h4 {
   font-size: 1.15em;color: #3D3D3D; font-weight : bold; padding:10px 0px 3px 0px;margin:0px; text-align:left;
}
h5 {
   font-size: 1.15em;color: #1E2A60; font-weight : bold; padding:10px 0px 3px 0px;margin:0px;
   color: #5E5966; text-align:left;
}

A:link, A:visited {
   color: #1E2A60; font-weight : normal; text-decoration: underline;
}

A:link:hover, A:visited:hover  {
   color: #1E2A60; font-weight : normal; text-decoration : underline; background-color: #CAE8ED;
}

p {
   margin:0px 0px 0px 0px;
   padding:0px 0px 10px 0px;
}

pre {
   background-color:#FFF8E4;
   padding:10px;
   font-size: 1.3em;  
}
pre,samp,code,tt {
   font-family: "Courier New", monospace;
   font-size:1.1em;
   color:black;
}

ol li {
   margin-bottom:9px;margin-top:0px;
}

ul li {
   margin-bottom:10px;margin-top:0px;
}

ul {
   padding-top:0px;
   margin: 0px;
}
ul li ul {margin-top:8px;}
li p { margin:0px;padding:0px 0px 3px 0px;}

/* mouse-over ruled table styles------------------------------------ */
table.ruled {
   border: 1px solid gray;
   border-collapse: collapse;
}

table.ruled td {
   font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
   border: 1px solid gray;
   padding: 2px;
}

table.ruled tr:hover td {
   background-color: #cccccc;
}