#netbeans-firefox-extension-about-clientBox {
    padding: 10px;
}

#netbeans-firefox-extension-about-extensionName {
    font-family: verdana;
    font-size: large;
    font-weight: bold;
}

#netbeans-firefox-extension-about-extensionVersion {
    font-family: verdana;
    font-weight: bold;
    color: #909090;
}

#netbeans-firefox-extension-about-extensionDescription {
    font-family: verdana;
    color: #404040;
    margin-left: 6px;
}

#groove {
    margin-top: 0px;
}