<#-- FreeMarker template (see http://freemarker.org/) -->
<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt"> 

<#if package?? && package != "">
package ${package};

</#if>
/**
 *
 * @author ${user}
 */

public class ${name} {
  
    /** Creates a new instance of ${name} */
    public ${name}() {
    }
}
