<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Resource table widget</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<!--<script type="text/javascript">
            //dojo debug, uncomment to enable debugging
            var djConfig = {
                isDebug: true,
                debugAtAllCosts: true
            };
	</script>-->
	<script type="text/javascript" src="../../resources/libs/dojo/v0.4.3/djd43.js"></script>
        <script type="text/javascript" src="./Support.js"></script>
 	<!--<script type="text/javascript">
            //rest debug, uncomment to enable debugging
            var rjsConfig = {
                isDebug: true
            };
	</script>-->
	<script type="text/javascript">
                var store = "__CONTAINER_NAME__";
                var storeUrl = "http://localhost:8080/__PROJECT_NAME__/resources/__CONTAINER_PATH_NAME__/";
		function loadResourcesTable() {
                    var restStore = eval('new rdj.data.'+store+'Store({serviceUrl:"'+storeUrl+'"})');
                    var tableElement = djd43.byId("content");
                    var query = null;
                    rdj.displayResourcesTable(restStore, query, tableElement);
		}		
		djd43.addOnLoad(loadResourcesTable);

                function changeResource() {
                    var sel = djd43.byId("resourceSel");
                    var selVals = sel.value.split(';');
                    storeUrl = selVals[0];
                    store = selVals[1];
                    var actions = djd43.byId("actions");
                    if(actions != null)
                        actions.innerHTML = '';
                    var content = djd43.byId("content");
                    if(content != null)
                        content.innerHTML = '';
                    loadResourcesTable();
		}
	</script>
</head>
<body>
	<h2>Resources table widget</h2>
        Select Resource: 
        <select id='resourceSel' name='resourceSel' onchange='javascript:changeResource();'>
<!--Do not remove - Begin -->
<!-- __DOJO_RESOURCE_SELECT_LIST__ -->
<!--Do not remove - Begin -->
        </select>
        <br/>
        <br/>
        <table id="content" style="width: 500px; height: 100px;" class="resourcesTable"></table>
	<p>&nbsp;</p>
	<!--<h2>djd43.debug output</h2>-->
</body>
</html>

