<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Customers table using RestStore Dojo Component</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
	<!--<script type="text/javascript">
		var djConfig = {
			isDebug: true,
			debugAtAllCosts: true
		};
	</script>-->
	<script type="text/javascript" src="../../resources/libs/dojo/v0.4.3/djd43.js"></script>
        <script type="text/javascript" src="./Support.js"></script>
	<script type="text/javascript">
		function loadResourcesTable() {
                    
			var restStore = new rdj.data.RestStore({serviceUrl:"http://localhost:8080/CustomerDB/resources/customers/"});
			var tableElement = djd43.byId("content");
			var query = null;
			rdj.displayResourcesTable(restStore, query, tableElement);
		}		
		djd43.addOnLoad(loadResourcesTable);
	</script>
</head>
<body>
	<h1>Customers table using RestStore Dojo Component</h1>
        <table id="content" style="width: 500px; height: 100px;" class="resourcesTable"></table>
	<p>&nbsp;</p>
	<!--<h2>djd43.debug output</h2>-->
</body>
</html>
