<?php
   addWidget( array("name" => "dojo.rest.__CONTAINER_PATH_NAME__table",
       "service" => "__BASE_URL__/__CONTAINER_PATH_NAME__/"
   ));
// Use below if using proxy for javascript cross-domain
/*
   addWidget( array("name" => "dojo.rest.__CONTAINER_PATH_NAME__table",
       "service" => "__BASE_URL__/__CONTAINER_PATH_NAME__/",
       "args" => "proxy=__BASE_URL__/../restproxy"
   ));
*/
?>