<html>
    <META http-equiv="Content-Type" content="text/html; charset=${project.encoding}">
    <body><p>Hello! This is the default welcome page for a Spring Web MVC project.</p><br> <i>To display a different welcome page for this project, modify</i> <tt>index.jsp</tt> <i>, or <br>         create your own welcome page then change the redirection in </i><tt>redirect.jsp</tt> <i>to point to the new welcome page<br> and also update the welcome-file setting in </i><tt>web.xml</tt>.
    </body>
</html>
