<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<p>t) Verify the most commonly uses attributes of this component.</p>
<p>i) Test Steps:</p>
<ol>
  <li>drag a textField onto designer</li>
  <li>drag a button onto designer</li>
  <li>drag a message group onto designer</li>
  <li>drag a hiddenField onto designer 
    <ol>
      <li>bind its text value to #{Page1.textField1.text}</li>
      <li>add a length validator to it max=8, min=2</li>
      <li>right click in outline and add a validation event:<br>
        <br>
        info(&quot;hiddenField1: validate method called&quot;);<br>
        <br>
      </li>
      <li>right click in outline and add a processValue change event<br>
        <br>
        info(&quot;hiddenField1: processValueChange method called&quot;); <br>
        <br>
      </li>
    </ol>
  </li>
  <li>drag a message component onto designer and set its for property to hiddenField1</li>
  <li>drag hiddenField2 onto designer and set its disabled property = true</li>
  <li>drag hiddenField3 onto designer and set its rendered property = false</li>
  <li>drag hiddenField4 onto designer and set its text to: Star light, star bright...</li>
  <li>drag hiddenField5 onto designer and set its converter to dateTimeConverter1</li>
  <li>drag hiddenField6 onto designer and set its immediate flag = true</li>
  <li>double click button and add following source:<br>
    <br>
    info(&quot;hiddenField1 has validator: &quot; + hiddenField1.getValidator().getExpressionString());<br>
    info(&quot;hiddenField2 is disabled: &quot; + hiddenField2.isDisabled());<br>
    info(&quot;hiddenField3 is rendered: &quot; + hiddenField3.isRendered());<br>
    info(&quot;hiddenField4 has text: &quot; + hiddenField4.getValue());<br>
    info(&quot;hiddenField5 has converter: &quot; + hiddenField5.getConverter().toString());<br>
    info(&quot;hiddenField6 is immediate: &quot; + hiddenField6.isImmediate());<br>
    <br>
  </li>
  <li>deploy/run </li>
</ol>
<p>&nbsp;</p>
<p>o) Expected Results:</p>
<ol>
  <li>enter a value in the field a press the button. (Note: validation does not 
    get called) 
    <ol>
      <li>System Messages shows 
        <ol>
          <li>processValueChange</li>
          <li>hiddenField1 has validator: #{Page1.hiddenField1_validate}</li>
          <li>hiddenField2 is disabled: true</li>
          <li>hiddenField3 is rendered: false </li>
          <li>hiddenfield4 has text: Start light, Star bright...</li>
          <li>hiddenfield5 has converter: javax.faces.convert.DateTimeConverter@bb9819</li>
          <li>hiddenfield6 is immediate: true</li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
