<#-- FreeMarker template (see http://freemarker.org/) -->
<#assign licenseFirst = "">
<#assign licensePrefix = "# ">
<#assign licenseLast = "">
<#include "../Licenses/license-${project.license}.txt">

