/*
 * File:   ${nameAndExt}
 * Author: ${user}
 *
 * Created on ${date}, ${time}
 */

#include <stdio.h>
#include <stdlib.h>
#include "CUnit/Basic.h"
<#if testIncludes?? && testIncludes != "">${testIncludes}</#if>
/*
 * CUnit Test Suite
 */

int init_suite(void)
{
    return 0;
}

int clean_suite(void)
{
    return 0;
}
<#if testFunctions?? && testFunctions != "">

${testFunctions}<#else>
void test1()
{
    CU_ASSERT(2*2 == 4);
}

void test2()
{
    CU_ASSERT(2*2 == 5);
}

</#if>
int main()
{
    CU_pSuite pSuite = NULL;

    /* Initialize the CUnit test registry */
    if (CUE_SUCCESS != CU_initialize_registry())
        return CU_get_error();

    /* Add a suite to the registry */
    pSuite = CU_add_suite("${name}", init_suite, clean_suite);
    if (NULL == pSuite) {
        CU_cleanup_registry();
        return CU_get_error();
    }
    <#if testCalls?? && testCalls != "">

    /* Add the tests to the suite */
    ${testCalls}<#else>
    /* Add the tests to the suite */
    if ((NULL == CU_add_test(pSuite, "test1", test1)) ||
        (NULL == CU_add_test(pSuite, "test2", test2)))
    {
        CU_cleanup_registry();
        return CU_get_error();
    }
    </#if>

    /* Run all tests using the CUnit Basic interface */
    CU_basic_set_mode(CU_BRM_VERBOSE);
    CU_basic_run_tests();
    CU_cleanup_registry();
    return CU_get_error();
}
