#set( $totalColumns = $sourceColumnIdentifiers.size() )
#set( $columnCounter = 1 )
#set( $indent = "    " )
#set( $pkIdCounter = 1 )
CREATE TABLE $tableName (
#foreach($sColumn in $sourceColumnIdentifiers )
#set( $colIndex = $columnCounter - 1 )
#set( $isNullable = $nullables.get($colIndex) )
${indent}$sColumn.getSql()#if( $isNullable ) NULL#else NOT NULL#end#if(( $columnCounter < $totalColumns ) || ( $pkIdentifiers.size() != 0 )), #end

#set( $columnCounter = $columnCounter + 1)
#end ## END foreach($sColumn)
#if( $pkIdentifiers.size() > 0 )${indent}PRIMARY KEY (
#foreach( $pkId in $pkIdentifiers )
${indent}$pkId#if( $pkIdCounter < $pkIdentifiers.size() ), #end
#set( $pkIdCounter = $pkIdCounter + 1 )
#end ## END foreach($pkId)
)
## END if($pkIdentifiers)
#end
)
