/*
 * ${name}.java
 *
 * Created on ${date}, ${time}
 *
 * To change this template, choose Tools | Template Manager
 * and open the template in the editor.
 */

package ${package};

import javax.ejb.EJBLocalObject;

/**
 *
 * @author ${user}
 */
public interface ${name} extends EJBLocalObject {

    ${primaryKey} getKey();

}
