/*
 * __NAME__.java
 *
 * Created on __DATE__, __TIME__
 *
 * To change this template, choose Tools | Template Manager
 * and open the template in the editor.
 */

package Templates.J2EE.EJB21;

import javax.ejb.EJBLocalObject;

/**
 *
 * @author __USER__
 */
public interface __NAME__ extends EJBLocalObject {

/*
    __PRIMARY_KEY__ Long getKey();
*/
    
}
