<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../../Licenses/license-${project.license}.txt">

package ${package};

import java.rmi.RemoteException;
import javax.ejb.CreateException;
import javax.ejb.EJBHome;

/**
 *
 * @author ${user}
 */
public interface ${name} extends EJBHome {

    ${remoteInterface} create()  throws CreateException, RemoteException;
    
}
