<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../../Licenses/license-${project.license}.txt">

package ${package};

import javax.ejb.Stateful;

/**
 *
 * @author ${user}
 */
@Stateful
public class ${name} {
    
    // Add business logic below. (Right-click in editor and choose
    // "Insert Code > Add Business Method")
    
}
