<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../../Licenses/license-${project.license}.txt">

package ${package};

import javax.ejb.Local;

/**
 *
 * @author ${user}
 */
@Local
public interface ${name} {

<#if timerExist && exposeTimer>
    public void myTimer();
</#if>
}
