/* Some common NB-specific formatting stuff. */

/* TABLE STYLES */

.tablebg	{
	background-color: #666699;
	}

.tablehbg	{
	background-color: #00315A;
	}

.tablehfont	{
  font-weight: bold;
	color: #FFFFFF;
	}

.tablecbg	{
	background-color: #cccc99;
	}

.tablecfont	{
  font-weight: bold;
	color: #00315A;
	}

.tablerbg	{
	background-color: #f0f0f0;
	}

.tabler	{
	background-color: #FFFFFF;
	}

/* END TABLES */

.titlec	{
  font-weight: bold;
	color: #CC3333;
	}

.textbox {
  font-family: Courier New, Monospaced;
  }

.constant {
  /* font-lock-constant-face */
  color: #b03060;
  }

.keyword {
  /* font-lock-keyword-face */
  color: #0000ff;
  }

.function-name {
  /* font-lock-function-name-face */
  color: #0000ff;
  }

.comment {
  /* font-lock-comment-face */
  color: #666666;
  font-style: italic;
  }

.string {
  /* font-lock-string-face */
  color: #b03060;
  }

.variable-name {
  /* font-lock-variable-name-face */
  color: #006400;
  }

.type {
  /* font-lock-type-face */
  color: #00008b;
  }

.extra-java-font-lock-number {
  /* extra-java-font-lock-number-face */
  color: #b03060;
  }

.builtin {
  /* font-lock-builtin-face */
  color: #0000ff;
  }

.nonnormative {
  padding-left: 0.2em;
  border-left: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left-width: thick;
  border-color: #AAAAFF;
}

/*
XXX nonnormative sections are currently indented a bit because of
this. The following seems to work in Mozilla but also causes problems
with some browsers and seems more dangerous:

BODY {
  margin: 0.9em;
}


.nonnormative {
  margin: -0.9em;
  padding-left: 0.3em;
  border-left: solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left-width: 0.6em;
  border-color: #AAAAFF;
}
*/

.footnote {
  font-size: 70%;
  color: grey;
}
