/* Some NB-specific formatting stuff. */

.nonnormative {
  background: #E5E5FF;
}

.footnote {
  font-size: 70%;
  color: grey;
}

samp {
  border: dashed;
  border-color: #DDFFDD;
  border-width: thin;
}
