/* stylesheet used for prose docs */

@import "nb-docs.css";
@import "netbeans.css"; /* copied from http://www.netbeans.org/netbeans.css */

/* ... with just these changes: */

/* XXX should these things really be overridden?
PRE {
  background-color: #FFF0F0;
  }

SAMP {
  background-color: #FFF0F0;
  }

dt {
  font-weight: bold;
}
*/

p.overviewlink {
  font-weight: bold;
  text-align: right;
}
