<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>run-command</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.RunCommand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update-component</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.UpdateComponent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove-component</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.RemoveComponent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update-engine</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.UpdateEngine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add-registry</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.AddRegistry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove-registry</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.RemoveRegistry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update-group</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.UpdateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove-group</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.RemoveGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manage-registries</servlet-name>
        <servlet-class>org.netbeans.installer.infra.server.admin.servlets.ManageRegistries</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>run-command</servlet-name>
        <url-pattern>/run-command</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update-component</servlet-name>
        <url-pattern>/update-component</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove-component</servlet-name>
        <url-pattern>/remove-component</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update-engine</servlet-name>
        <url-pattern>/update-engine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add-registry</servlet-name>
        <url-pattern>/add-registry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove-registry</servlet-name>
        <url-pattern>/remove-registry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update-group</servlet-name>
        <url-pattern>/update-group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove-group</servlet-name>
        <url-pattern>/remove-group</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manage-registries</servlet-name>
        <url-pattern>/manage-registries</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
