<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>webclient.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            index.jsp
        </welcome-file>
  </welcome-file-list>
  <service-ref>
    <service-ref-name>service/Hello</service-ref-name>
    <service-interface>webclient.Hello</service-interface>
    <wsdl-file>WEB-INF/wsdl/Hello.wsdl</wsdl-file>
    <jaxrpc-mapping-file>WEB-INF/Hello-mapping.xml</jaxrpc-mapping-file>
    <port-component-ref>
      <service-endpoint-interface>webclient.HelloSEI</service-endpoint-interface>
    </port-component-ref>
  </service-ref>
</web-app>
