/*
 * ffj.css	02/20/2001
 *
 * Copyright 2001 Sun Microsystems, Inc. All rights reserved.
 * Use is subject to license terms.
 *
 */

body  {font-size: small;
	font-family: SansSerif;
	margin-left: 5;
	margin-right: 5;
	color: Black;
	background-color: White}

p {font-size: small;
     margin-top: 10}

h2 { font-size: large;
     font-weight: bold;
     margin-top: 15;
     margin-bottom: 5}

h3 { font-size: medium;
     font-weight: bold;
     margin-top: 15;
     margin-bottom: 5}

h4 { font-size: small;
     font-weight: bold;
     margin-top: 15;
     margin-bottom: 5}

ol {margin-top: 5;
     margin-bottom: 0;
     margin-left: 16}

li {margin-top: 0;
	margin-bottom: 5}
	
li p{margin-top: 5;
	margin-bottom: 0}

ul {margin-top: 5;
    margin-bottom: 0;
    margin-left: 14}
	
table {border-color: lightGray;
        border-style: solid;
        margin-top: 5;
        margin-bottom: 5}

td {  border-color: lightGray;
        border-style: solid;
        padding-left: 1;
        padding-right: 1;
        padding-top: 1;
        padding-bottom: 1}

th {  border-color: lightGray;
        border-style: solid;
        padding-left: 1;
        padding-right: 1;
        padding-top: 1;
        padding-bottom: 1}