<?xml version="1.0" encoding="UTF-8"?>
<VisualDesign version="1" projectType="vmd-midp-game">
    <Document version="1">
        <Component componentID="0" typeID="C#Root"/>
    </Document>
</VisualDesign>
