package Templates.Classes;

import javax.microedition.midlet.*;
import javax.microedition.lcdui.*;
import javax.microedition.lcdui.game.*;
import java.io.IOException;

/**
 * @author __USER__
 */
public class GameDesign {

    //GEN-LINE:|fields|0|

    //GEN-LINE:|methods|0|

}
