#set( $totalColumns = $sourceColumnIdentifiers.size())
#set( $columnCounter = 1)
#set( $indent = "    " )
SELECT #if($distinct) DISTINCT #end

#foreach($sColumn in $sourceColumnIdentifiers )
${indent}$sColumn.getSql()#if($aliasColumns) AS $sColumn.getAliasName()#end#if($columnCounter < $totalColumns), #end

#set( $columnCounter = $columnCounter + 1)
#end
#if($selectAliasName != "")${selectAliasName} #end#parse("org/netbeans/modules/sql/framework/codegen/base/config/from.vm")
#if($useWhere)

WHERE
#set( $totalConditions = $whereList.size() )
#set( $conditionCounter = 1 )
#foreach( $condition in $whereList )
${indent}#if($conditionCounter > 1)AND #end${condition}
#set( $conditionCounter = $conditionCounter + 1)
## END foreach( $condition )
#end
#if (! $isJoin)
#set( $compound = false )
    #if($compound && $condition != "") AND #end#if($condition != "")${condition} #set( $compound = true )#end
    #if($compound && $notInSql != "") AND #end#if($notInSql != "")$notInSql #set( $compound = true )#end
    #if($compound && $integritySql != "") AND #end#if($integritySql != "")${integritySql} #set( $compound = true )#end
## END if( not $isJoin )
#end
## END if( $useWhere )
#end
#if($useGroupBy)
#parse("org/netbeans/modules/sql/framework/codegen/base/config/groupBy.vm")
#end
