/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

package Templates.Beans;

import java.beans.*;

/**
 * @author __USER__
 */
public class PropertyEditor extends PropertyEditorSupport {

    public PropertyEditor() {
    }

}
