<#-- FreeMarker template (see http://freemarker.org/) -->
<#assign licenseFirst = "/*">
<#assign licensePrefix = " * ">
<#assign licenseLast = " */">
<#include "../Licenses/license-${project.license}.txt">

<#if package?? && package != "">
package ${package};

</#if>
import java.beans.*;

/**
 *
 * @author ${user}
 */
public class ${name} extends PropertyEditorSupport {

    public ${name}() {
    }

}
