<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
  <head>
    <title>UML Report Help</title>

	<LINK REL ="stylesheet" TYPE="text/css" HREF="stylesheet.css" TITLE="Style">
  </head>
  
<BODY BGCOLOR="white">
<!-- ========= START OF NAVBAR ======= -->
<A NAME="navbar_top"></A>
<A HREF="#skip-navbar_top" title="Skip navigation links"></A>
<TABLE BORDER="0" WIDTH="100%" CELLPADDING="1" CELLSPACING="0" SUMMARY="">
<TR>
<TD COLSPAN=2 BGCOLOR="#EEEEFF" CLASS="NavBarCell1">
<A NAME="navbar_top_firstrow"></A>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="3" SUMMARY="">
  <TR ALIGN="center" VALIGN="top">

  <TD BGCOLOR="#FFFFFF" CLASS="NavBarCell1"> &nbsp;<A HREF="overview-summary.html"><FONT CLASS="NavBarFont1"><B>Overview</B></FONT></A>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">Package</FONT>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">Element</FONT>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">Diagram</FONT>&nbsp;</TD>
 <!-- <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="element-index.html"><FONT CLASS="NavBarFont1"><B>Index</B></FONT></A>&nbsp;</TD> -->
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1Rev">    <FONT CLASS="NavBarFont1Rev"><B>Help</B></FONT>&nbsp;</TD>

  </TR>
</TABLE>
</TD>
<TD ALIGN="right" VALIGN="top" ROWSPAN=3><EM>
<b>NetBeans UML Modeling</b>
</TD>
</TR>
</TABLE>
<A NAME="skip-navbar_top"></A>
<!-- ========= END OF NAVBAR ========= -->
  
  
<HR>
<CENTER>
<H1>How This UML Report Document Is Organized</H1>
</CENTER>

This UML report document has pages corresponding to the items in the navigation bar, described as follows.

<H3>Overview</H3>
<BLOCKQUOTE>
<P>
The <A HREF="overview-summary.html">Overview</A> page is the front page of this report document and provides a list of all packages with a summary for each.  This page can also contain an overall description of the set of packages.
</BLOCKQUOTE>

<H3>Package</H3>
<BLOCKQUOTE>
<P>
Each package has a page that contains a list of its classes, interfaces and other elements, with a summary for each. This page can contain categories in below order:<UL>
<LI>Interface<LI>Class<LI>Derivation Classifier<LI>DataType<LI>Enumeration<LI>StereoType
<LI>Activity<LI>Actor<LI>Node<LI>Source File Artifact<LI>UseCase<LI>ActivityGroup
<LI>FinalNode<LI>FinalState<LI>ForkNode<LI>InitialNode<LI>InvacationNode<LI>LifeLine
</UL>
</BLOCKQUOTE>

<H3>Element</H3>
<BLOCKQUOTE>
<P>
Each class, interface, nested class and nested interface has its own separate page. Each of these pages has three sections consisting of a class/interface description, summary tables, and detailed member descriptions:<UL>
<LI>Class inheritance diagram<LI>Direct Subclasses<LI>All Known Subinterfaces<LI>All Known Implementing Classes<LI>Class/interface declaration<LI>Class/interface description
<P>
<LI>Nested Class Summary<LI>Attribute Summary<LI>Constructor Summary<LI>Operation Summary
<LI>Stereotype Summary <LI>Tagged Value Summary<LI>Constraint Summary<LI>Diagram Summary
<P>
<LI>Attribute Detail<LI>Constructor Detail<LI>Operation Detail</UL>

Each summary entry contains the first sentence from the detailed description for that item. The summary entries are alphabetical, while the detailed descriptions are in the order they appear in the source code. This preserves the logical groupings established by the programmer.
</BLOCKQUOTE>

<H3>Diagram</H3>
<BLOCKQUOTE>
Each diagram has a page to display its image in png format. Clicking on an element on full digram page will take you to the element detail page.
</BLOCKQUOTE>
<!--
<H3>Index</H3>
<BLOCKQUOTE>
The <A HREF="element-index.html">Index</A> contains an alphabetic list of all elements.
</BLOCKQUOTE>
-->
<BR>
<HR>

<!-- ========= START OF NAVBAR ======= -->
<A NAME="navbar_top"></A>
<A HREF="#skip-navbar_top" title="Skip navigation links"></A>
<TABLE BORDER="0" WIDTH="100%" CELLPADDING="1" CELLSPACING="0" SUMMARY="">
<TR>
<TD COLSPAN=2 BGCOLOR="#EEEEFF" CLASS="NavBarCell1">
<A NAME="navbar_top_firstrow"></A>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="3" SUMMARY="">
  <TR ALIGN="center" VALIGN="top">

  <TD BGCOLOR="#FFFFFF" CLASS="NavBarCell1"> &nbsp;<A HREF="overview-summary.html"><FONT CLASS="NavBarFont1"><B>Overview</B></FONT></A>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">Package</FONT>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">Element</FONT>&nbsp;</TD>
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <FONT CLASS="NavBarFont1">Diagram</FONT>&nbsp;</TD>
  <!-- <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1">    <A HREF="element-index.html"><FONT CLASS="NavBarFont1"><B>Index</B></FONT></A>&nbsp;</TD> -->
  <TD BGCOLOR="#EEEEFF" CLASS="NavBarCell1Rev">    <FONT CLASS="NavBarFont1Rev"><B>Help</B></FONT>&nbsp;</TD>

  </TR>
</TABLE>
</TD>
<TD ALIGN="right" VALIGN="top" ROWSPAN=3><EM>
<b>NetBeans UML Modeling</b>
</TD>
</TR>
</TABLE>
<A NAME="skip-navbar_top"></A>
<!-- ========= END OF NAVBAR ========= -->
  
  

  </body>
</html>
