
	<LINK REL ="stylesheet" TYPE="text/css" HREF="SCRIPT_PATH/stylesheet.css" TITLE="Style">
   
    <script type="text/javascript">
     g_images=[
IMAGESTRING
        ];
	fit_scale_index=FIT_SCALE_INDEX;
	
    </script>
    <script src="SCRIPT_PATH/zoom.js" type="text/javascript"></script>
    <script src="SCRIPT_PATH/behaviour.js" type="text/javascript"></script>
    <script type="text/javascript">
    <!--

        Behaviour.register({
            '.imageViewer' : function(el) {
                //prepareViewer(el, 'tiles', 256);
                prepareViewer(el, '.');
            },
            '.imageViewer .zoom .up' : function(el) {
                el.onclick = function() {
                    zoomImageUp(el.parentNode.parentNode, undefined);
                    return false;
                }
            },
            '.imageViewer .zoom .down' : function(el) {
                el.onclick = function() {
                    zoomImageDown(el.parentNode.parentNode, undefined);
                    return false;
                }
            },
            '.imageViewer .zoom .fit' : function(el) {
                el.onclick = function() {
                    zoomImageFit(el.parentNode.parentNode, undefined);
                    return false;
                }
            }
        });
    
    //-->
    </script>
